---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SocialLink from "@components/SocialLink.astro";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <Main pageTitle="About" pageDesc="All about Guild42.">
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">Goals</h2>
      The purpose of the association is to increase the attractiveness of Bern as
      a location for software developers and software development companies.
      <p class="py-2">The association is involved in the following areas:</p>
      <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
        <li class="py-0.5">
          Exchange of knowledge, experience and information among software
          developers.
        </li>
        <li class="py-0.5">
          Networking among software developers and software companies.
        </li>
      </ul>
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">
        Members of the Board
      </h2>
      <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
        <li class="py-0.5">
          President, social media: Simon M. Butscher
          <SocialLink
            href="https://www.linkedin.com/in/simon-m-butscher-%E2%98%81-63b28a5/"
            icon="LinkedIn"
          />
        </li>
        <li class="py-0.5">
          Treasurer: Daniel Marthaler
          <SocialLink
            href="https://www.linkedin.com/in/daniel-marthaler-34b36814/"
            icon="LinkedIn"
          />
        </li>
        <li class="py-0.5">
          Web Dev: Andreas Schlapbach
          <SocialLink
            href="https://www.linkedin.com/in/andreas-schlapbach/"
            icon="LinkedIn"
          />
        </li>
        <li class="py-0.5">
          Marketing: Steve Bechstein
          <SocialLink
            href="https://www.linkedin.com/in/steve-bechstein/"
            icon="LinkedIn"
          />
        </li>
        <li class="py-0.5">
          Assessor: Florian Kammermann
          <SocialLink
            href="https://www.linkedin.com/in/florian-k-9196651a/"
            icon="LinkedIn"
          />
        </li>
      </ul>
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">Membership</h2>
      As a member of Guild42 you support the goals of the association. We always
      welcome new members and encourage everybody to <a href="/membership"
        >become a member</a
      >!
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">
        Become a Sponsor or Patron
      </h2>
      If you would like become a <a href="/sponsors">sponsor</a> or a <a
        href="/patrons">patron</a
      >, please <a href="/contact">contact us</a>.
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">
        Code of Conduct
      </h2>
      Our <a href="/code-of-conduct">code of conduct</a> is based on fairness, collaboration,
      and fun.
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">Payment</h2>
      In addition to the contributions of the sponsors and patrons, we are exclusively
      financed by the membership fees.
      <p class="pt-4">
        Postal Account Number: 60-255581-5<br />
        IBAN: CH91 0900 0000 6025 5581 5 <br />
        BIC: POFICHBEXXX
      </p>
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">Address</h2>
      guild42.ch <br />
      c/o Simon Butscher <br />
      Marquard-Wocher-Strasse 35 <br />
      3600 Thun
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-xl font-semibold sm:text-2xl">
        Trademark Protection
      </h2>
      The Guild42 name is a <a
        href="https://www.swissreg.ch/database-client/register/detail/trademark/1206505137"
        >registered trademark</a
      >.
    </section>
  </Main>
</Layout>
<Footer />

<style>
  a {
    @apply relative text-amber-400 decoration-dashed underline-offset-4 hover:underline hover:decoration-amber-600 focus-visible:p-1;
  }
</style>
