---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SocialLink from "@components/SocialLink.astro";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <Main pageTitle="About" pageDesc="All about Guild42.">
    <h2 class="pb-6 pt-6 text-xl font-semibold sm:text-2xl">Goals</h2>

    The purpose of the association is to increase the attractiveness of Bern as
    a location for software developers and software development companies.
    <p class="py-2">The association is involved in the following areas:</p>

    <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
      <li class="py-0.5">
        Exchange of knowledge, experience and information among software
        developers.
      </li>
      <li class="py-0.5">
        Networking among software developers and software companies.
      </li>
    </ul>

    <h2 class="pb-6 pt-12 text-xl font-semibold sm:text-2xl">
      Members of the Board
    </h2>
    <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
      <li class="py-0.5">
        President, social media: Simon M. Butscher
        <SocialLink
          href="https://www.linkedin.com/in/simon-m-butscher-%E2%98%81-63b28a5/"
          icon="LinkedIn"
        />
      </li>
      <li class="py-0.5">
        Treasurer: Daniel Marthaler
        <SocialLink
          href="https://www.linkedin.com/in/daniel-marthaler-34b36814/"
          icon="LinkedIn"
        />
      </li>
      <li class="py-0.5">
        Web Dev: Andreas Schlapbach
        <SocialLink
          href="https://www.linkedin.com/in/andreas-schlapbach/"
          icon="LinkedIn"
        />
      </li>
      <li class="py-0.5">Website: Niklaus Röthlisberger</li>
      <li class="py-0.5">
        Assessor: Thomas Siegrist
        <SocialLink
          href="https://www.linkedin.com/in/thomas-siegrist/"
          icon="LinkedIn"
        />
      </li>
      <li class="py-0.5">
        Assessor: Florian Kammermann
        <SocialLink
          href="https://www.linkedin.com/in/florian-k-9196651a/"
          icon="LinkedIn"
        />
      </li>
    </ul>

    <h2 class="pb-6 pt-12 text-xl font-semibold sm:text-2xl">Membership</h2>

    As a member of Guild42.ch you support the goals of the association. In
    addition to the contributions of the sponsors and patrons, the association
    is financed exclusively by the membership fees.

    <h2 class="pb-6 pt-12 text-xl font-semibold sm:text-2xl">
      Payment Details
    </h2>

    Postal Account Number: 60-255581-5 <br />
    IBAN: CH91 0900 0000 6025 5581 5 <br />
    BIC: POFICHBEXXX

    <h2 class="pb-6 pt-12 text-xl font-semibold sm:text-2xl">Address</h2>

    guild42.ch <br />
    c/o Simon Butscher <br />
    Thunstrasse 22 <br />
    3110 Münsingen

    <h2 class="pb-6 pt-12 text-xl font-semibold sm:text-2xl">
      Trademark Protection
    </h2>

    The Guild42 name is a <a
      href="https://www.swissreg.ch/srclient/de/tm/746565"
      >registered trademark</a
    >.
  </Main>
  <Footer />
</Layout>
<style>
  a {
    @apply relative underline decoration-dashed underline-offset-4 hover:text-skin-accent focus-visible:p-1;
  }
</style>
