---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`Contact | ${SITE.title}`}>
  <Header activeNav="contact" />
  <Main pageTitle="Contact" pageDesc="We love to hear from you.">
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      netlify
    >
      <input type="hidden" name="form-name" value="contact" />
      <p hidden>
        Do not fill this out: <input name="bot-field" />
      </p>
      <div class="grid space-y-2">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="input-field rounded p-0.5"
          placeholder="Your name"
          required
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="input-field rounded p-0.5"
          placeholder="Your email"
          required
        />

        <label for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          class="input-field rounded p-0.5"
          placeholder="Your message"
          rows="4"
          required></textarea>

        <button
          type="submit"
          class="relative p-4 underline decoration-dashed underline-offset-4 hover:text-skin-accent focus-visible:p-1"
          >Submit</button
        >
      </div>
    </form>
  </Main>
  <Footer />
</Layout>
