---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`Membership | ${SITE.title}`}>
  <Header activeNav="membership" />
  <Main pageTitle="Become a Member / Patron" pageDesc="Welcome on board!">
    <form
      name="membership"
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      netlify
    >
      <input type="hidden" name="form-name" value="membership" />
      <p hidden>
        Do not fill this out: <input name="bot-field" />
      </p>
      <div class="grid space-y-2">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="block w-full rounded border border-skin-fill border-opacity-40 bg-skin-fill p-3 placeholder:italic placeholder:text-opacity-75 focus:border-skin-accent focus:outline-none"
          placeholder="Your name"
          required
        />
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="block w-full rounded border border-skin-fill border-opacity-40 bg-skin-fill p-3 placeholder:italic placeholder:text-opacity-75 focus:border-skin-accent focus:outline-none"
          placeholder="Your email"
          required
        />
        <label for="billing-address">Billing Address:</label>
        <textarea
          id="billing-address"
          name="billing-address"
          class="block w-full rounded border border-skin-fill border-opacity-40 bg-skin-fill p-3 placeholder:italic placeholder:text-opacity-75 focus:border-skin-accent focus:outline-none"
          placeholder="Your billing address"
          rows="4"
          required></textarea>
        <label for="membership-type">Membership Type / Patron:</label>
        <div class="flex flex-col space-y-2">
          <label class="flex items-center">
            <input
              type="radio"
              name="membership-type"
              value="basic"
              class="mr-2"
            />
            <span class="text-md">Basic Membership</span>: 32 CHF per year
          </label>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Includes access to all events and workshops.
          </p>
          <label class="flex items-center">
            <input
              type="radio"
              name="membership-type"
              value="advanced"
              class="mr-2"
            />
            <span class="text-md">Premium Membership</span>: 42 CHF (2<sup
              >¯\_(ツ)_/¯</sup
            >) per year
          </label>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Includes all benefits of the basic membership, plus a mention on the
            Patrons page in the Member.42 category.
          </p>
          <label class="flex items-center">
            <input
              type="radio"
              name="membership-type"
              value="category-life"
              class="mr-2"
            />
            <span class="text-md">Category.LIFE</span>: starting from 128 CHF
            (2^7)
          </label>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Patron tier supporting Guild42's mission with enhanced benefits and
            recognition.
          </p>
          <label class="flex items-center">
            <input
              type="radio"
              name="membership-type"
              value="category-universe"
              class="mr-2"
            />
            <span class="text-md">Category.UNIVERSE</span>: starting from 512
            CHF (2^9)
          </label>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Premium patron tier with greater support for Guild42's initiatives.
          </p>
          <label class="flex items-center">
            <input
              type="radio"
              name="membership-type"
              value="category-everything"
              class="mr-2"
            />
            <span class="text-md">Category.EVERYTHING</span>: starting from
            1'024 CHF (2^10)
          </label>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Top-tier patron support helping Guild42 organize events free of
            charge for all participants.
          </p>
        </div>
        <button
          type="submit"
          class="relative p-4 text-amber-400 decoration-dashed underline-offset-4 hover:underline hover:decoration-amber-600 focus-visible:p-1"
          >Submit</button
        >
      </div>
    </form>
  </Main>
  <Footer />
</Layout>
