---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Category } from "types";

import PatreonCategory from "../components/PatreonCategory.astro";
---

<Layout title={`Patreons | ${SITE.title}`}>
  <Header activeNav="patreons" />
  <Main pageTitle="Patreons" pageDesc="Life, the Universe and Everything.">
    <PatreonCategory
      title="Category.Everything"
      category={Category.Everything}
    />
    <PatreonCategory title="Category.Universe" category={Category.Universe} />
    <PatreonCategory title="Category.Life" category={Category.Life} />
  </Main>
  <Footer />
</Layout>
