---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Category } from "types";

import PatronCategory from "../components/PatronCategory.astro";
import EverythingPatronGrid from "../components/EverythingPatronGrid.astro";
---

<Layout title={`Patrons | ${SITE.title}`}>
  <Header activeNav="patrons" />
  <Main
    pageTitle="Patrons"
    pageDesc="If you like to support us, please consider becoming a patron."
  >
    <EverythingPatronGrid title="Category.EVERYTHING" />
    <PatronCategory title="Category.UNIVERSE" category={Category.Universe} />
    <PatronCategory title="Category.LIFE" category={Category.Life} />
    <PatronCategory title="Member.42" category={Category.Member42} />
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">
        Become a Patron
      </h2>
      <p class="py-3">
        Our patrons help us to organize our events free of charge. Please choose
        a category suited for you and become a patron. You can also <a href="/membership" class="text-skin-accent underline underline-offset-4">fill out the membership form</a> to join Guild42!
      </p>
      <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
        <li class="py-0.5">
          starting from 42 CHF (2^¯\(ツ)/¯): <span class="font-semibold tracking-wide"
            >Member.42</span
          >
        </li>
        <li class="py-0.5">
          starting from 128 CHF (2^7): <span class="font-semibold tracking-wide"
            >Category.LIFE</span
          >
        </li>
        <li class="py-0.5">
          starting from 512 CHF (2^9): <span class="font-semibold tracking-wide"
            >Category.UNIVERSE</span
          >
        </li>
        <li class="py-0.5">
          starting from 1'024 CHF (2^10): <span class="font-semibold tracking-wide"
            >Category.EVERYTHING</span
          >
        </li>
      </ul>
    </section>
    <section class="pb-3 pl-0">
      <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">
        Membership
      </h2>
      <p class="py-3">
        As a member of Guild42 you support the goals of the association. We always
        welcome new members and encourage everybody to <a href="/membership"
          >become a member</a
        >!
      </p>
    </section>
  </Main>
  <Footer />
</Layout>
