---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sponsors from "@components/Sponsors.astro";

import SocialLink from "@components/SocialLink.astro";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="sponsors" />
  <Main pageTitle="Sponsors" pageDesc="Thank you for your support!">
    <Sponsors />
  </Main>
  <Footer />
</Layout>
