---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sponsors from "@components/Sponsors.astro";

import SocialLink from "@components/SocialLink.astro";
---

<Layout title={`Sponsors | ${SITE.title}`}>
  <Header activeNav="sponsors" />
  <Main pageTitle="Sponsors" pageDesc="We are very grateful for your support!">
    <section class="py-6 my-6">
      <div class="py-8">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 auto-rows-max auto-cols-max justify-around gap-8"
        >
          <div class="">
            <a href="https://www.bedag.ch">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="logo"
                width="202.96"
                height="48"
                viewBox="0 0 202.96 48"
                class="w-full"
                id="logoanimate"
                ><path d="M0,0V38H38V0ZM0,38,14,0,38,27.8Z" fill="currentColor"
                  ><animate
                    id="step1"
                    attributeName="d"
                    dur="150ms"
                    begin="logoanimate.mouseover+0s"
                    from="M0,0V38H38V0ZM0,38,14,0,38,27.8Z"
                    to="M0,0V38H38V0ZM0,26,29,0l9,38Z"
                    fill="freeze"
                    repeatCount="0"></animate><animate
                    id="step2"
                    attributeName="d"
                    dur="150ms"
                    begin="step1.end + 0.1s"
                    from="M0,0V38H38V0ZM0,26,29,0l9,38Z"
                    to="M0,0V38H38V0ZM0,8,38,0,27,38Z"
                    fill="freeze"></animate><animate
                    id="step3"
                    attributeName="d"
                    dur="150ms"
                    begin="step2.end + 0.1s"
                    from="M0,0V38H38V0ZM0,8,38,0,27,38Z"
                    to="M0,0V38H38V0ZM0,0,38,8,8,38Z"
                    fill="freeze"></animate><animate
                    id="step4"
                    attributeName="d"
                    dur="150ms"
                    begin="step3.end + 0.1s"
                    from="M0,0V38H38V0ZM0,0,38,8,8,38Z"
                    to="M0,0V38H38V0ZM14,0,38,27.8,0,38Z"
                    fill="freeze"></animate><animate
                    id="step5"
                    attributeName="d"
                    dur="0ms"
                    begin="step4.end"
                    from="M0,0V38H38V0ZM14,0,38,27.8,0,38Z"
                    to="M0,0V38H38V0ZM0,38,14,0,38,27.8Z"
                    fill="freeze"></animate></path
                ><g id="logotext"
                  ><path
                    d="M69.86,8.68a9.4,9.4,0,0,0-8.94,5.21V0H56V37.31h4.94V32.76A9.42,9.42,0,0,0,69.86,38c7.51,0,11.07-6.53,11.07-14.65S77.37,8.68,69.86,8.68Zm5.87,19c0,3.78-3,6.36-7.13,6.36-4.94,0-7.68-3.51-7.68-8.34V21c0-4.83,2.74-8.34,7.68-8.34,4.11,0,7.13,2.58,7.13,6.36Z"
                    fill="currentColor"></path><path
                    d="M98.7,8.68c-7.68,0-12.06,6.09-12.06,14.64S90.64,38,98.7,38c6,0,11.24-3.57,11.74-9.55H105.5c-.33,3.84-3.23,5.6-6.74,5.6s-6.91-2.31-6.91-6.36v-3h18.81V22.06C110.66,14.6,106.71,8.68,98.7,8.68Zm6.86,12.07H91.85V19.21c0-4.11,3.18-6.58,6.85-6.58s6.86,2.47,6.86,6.58Z"
                    fill="currentColor"></path><path
                    d="M136.26,13.89a9.44,9.44,0,0,0-8.93-5.21c-7.52,0-11.08,6.53-11.08,14.64S119.87,38,127.44,38a9.28,9.28,0,0,0,8.82-5.21v4.55h4.94V0h-4.94Zm0,11.79c0,4.83-2.74,8.34-7.67,8.34-4.06,0-7.13-2.58-7.13-6.36V19c0-3.78,3.07-6.36,7.13-6.36,4.93,0,7.67,3.51,7.67,8.34Z"
                    fill="currentColor"></path><path
                    d="M170.32,18.22c0-6.58-4.55-9.54-10.59-9.54S149,12.41,149,17.68h4.93c0-3.57,2.3-5,5.76-5s5.81,1.21,5.81,5.54v2.25l-9.1.82c-5.54.49-8.34,4-8.34,8.39a8.48,8.48,0,0,0,2.31,5.81A9.09,9.09,0,0,0,157.05,38c4.17,0,7.24-1.87,8.77-5.82H166l.11,5.16h8.34V33.09h-4.17Zm-4.83,7.24c0,5.05-2.74,8.56-7.18,8.56-3.13,0-5.05-1.15-5.05-3.73V27.82c0-1.59.28-2.52,2.31-2.69l9.92-.93Z"
                    fill="currentColor"></path><path
                    d="M198.07,9.34v4.55a9.46,9.46,0,0,0-8.94-5.21c-7.51,0-11.08,6.53-11.08,14.64S181.67,38,189.24,38a9.34,9.34,0,0,0,8.83-5.21v3.78c0,5.37-3.51,7.51-7.35,7.51s-6.36-1.64-6.75-4.82h-5C179.82,46,185.09,48,190.9,48c6,0,12.06-3.51,12.06-11.24V9.34Zm0,16.34c0,4.83-2.75,8.34-7.68,8.34-4.06,0-7.13-2.58-7.13-6.36V19c0-3.78,3.07-6.36,7.13-6.36,4.93,0,7.68,3.51,7.68,8.34Z"
                    fill="currentColor"></path></g
                ><rect width="202.96" height="48" style="fill: #fff;opacity: 0"
                ></rect></svg
              ></a
            >
          </div>
          <div class="">
            <a href="https://www.mimacom.ch">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 161 28"
                height="26"
                class="w-full"
                ><path
                  d="M36.455 8.623H31.13v18.022h5.325V8.623Zm47.882 1.34c-1.199-1.182-2.8-1.977-4.873-1.977-5.318 0-9.037 3.946-9.037 9.531 0 5.585 3.678 9.618 8.996 9.618 1.927 0 3.607-.934 4.914-2.328v1.834h5.325V8.622h-5.325v1.341ZM79.803 22.19c-2.505 0-4.537-2.048-4.537-4.575s2.032-4.575 4.537-4.575c2.506 0 4.448 1.958 4.534 4.41v.33c-.086 2.452-2.084 4.41-4.534 4.41ZM18.821 8.02a7.988 7.988 0 0 0-5.385 2.094A7.97 7.97 0 0 0 8.051 8.02C3.648 8.02.078 11.586 0 16.007v10.638h5.325V16.146c0-1.517 1.221-2.749 2.726-2.749s2.652 1.156 2.723 2.61v10.638h5.325l.004-10.596c.052-1.473 1.247-2.652 2.718-2.652a2.727 2.727 0 0 1 2.723 2.61v10.638h5.325l.011-10.499c0-4.488-3.607-8.122-8.055-8.122l-.004-.004Zm40.836 0a7.987 7.987 0 0 0-5.385 2.094 7.97 7.97 0 0 0-5.385-2.094c-4.403 0-7.973 3.562-8.048 7.987v10.638h5.325V16.146c0-1.517 1.221-2.749 2.726-2.749s2.652 1.156 2.723 2.61v10.638h5.325l.004-10.596c.052-1.473 1.247-2.652 2.718-2.652a2.727 2.727 0 0 1 2.723 2.61v10.638h5.325l.011-10.499c0-4.488-3.607-8.122-8.055-8.122l-.007-.004Zm93.288 0a7.988 7.988 0 0 0-5.385 2.094 7.97 7.97 0 0 0-5.385-2.094c-4.403 0-7.973 3.562-8.048 7.987v10.638h5.326V16.146c0-1.517 1.221-2.749 2.726-2.749s2.651 1.156 2.722 2.61v10.638h5.325l.004-10.596c.052-1.473 1.247-2.652 2.719-2.652a2.727 2.727 0 0 1 2.722 2.61v10.638h5.325l.011-10.499c0-4.488-3.607-8.122-8.055-8.122l-.007-.004ZM33.695 6.913c1.656 0 2.999-1.354 2.999-3.024S35.35.865 33.695.865c-1.656 0-2.998 1.354-2.998 3.024s1.342 3.024 2.998 3.024Zm88.318 1.02c-5.243 0-9.493 4.29-9.493 9.576 0 5.288 4.25 9.577 9.493 9.577s9.497-4.29 9.497-9.576c0-5.288-4.25-9.577-9.497-9.577Zm0 14.156c-2.502 0-4.533-2.049-4.533-4.576 0-2.527 2.031-4.575 4.533-4.575 2.502 0 4.537 2.048 4.537 4.575s-2.031 4.576-4.537 4.576Zm-19.904-.008c-2.506 0-4.537-2.048-4.537-4.575s2.031-4.575 4.537-4.575c1.669 0 3.129.91 3.917 2.263a306.87 306.87 0 0 1 4.414-2.294c-1.613-2.963-4.739-4.97-8.327-4.97-5.243 0-9.493 4.285-9.493 9.576 0 5.29 4.25 9.572 9.493 9.572 3.768 0 7.024-2.214 8.559-5.419l-4.444-2.225a4.536 4.536 0 0 1-4.115 2.647h-.004Z"
                  fill="currentColor"
                  fill-rule="evenodd"></path>
                ></svg
              ></a
            >
          </div>
          <div class="">
            <a href="https://www.puzzle.ch">
              <svg
                width="186"
                height="48"
                viewBox="0 0 186 48"
                xmlns="http://www.w3.org/2000/svg"
                class="w-full"
              >
                <path
                  d="M61.718 25.702h3.04c.884 0 1.558-.242 2.02-.727.462-.485.693-1.108.693-1.87 0-.778-.23-1.415-.693-1.912-.462-.497-1.136-.746-2.02-.746h-3.04v5.255zm0 3.127v6H57.63V17.32h7.128c2.082 0 3.735.532 4.956 1.594 1.224 1.063 1.835 2.451 1.835 4.167 0 1.724-.611 3.113-1.835 4.167-1.221 1.053-2.874 1.58-4.956 1.58h-3.04zM87.675 17.32v11.472c0 1.996-.666 3.543-1.997 4.642-1.33 1.097-3.073 1.646-5.227 1.646-2.18 0-3.936-.549-5.271-1.646-1.335-1.099-2.003-2.646-2.003-4.642V17.32h4.089v11.472c0 1.074.278 1.87.832 2.387.555.516 1.34.775 2.353.775 1.004 0 1.778-.256 2.32-.77.544-.513.815-1.31.815-2.392V17.32h4.089zm6.624 14.382h7.997v3.126H89.28V33l7.852-12.554h-7.888V17.32h12.943v1.756l-7.89 12.627zm14.29 0h7.996v3.126h-13.013V33l7.852-12.554h-7.889V17.32h12.942v1.756l-7.888 12.627zm13.614 0h7.562v3.126h-11.651V17.32h4.09v14.383zm19.954-4.365h-6.887v4.365h8.117v3.126h-12.205V17.32h12.23v3.127h-8.142v3.764h6.887v3.127zm13.568 7.49h-4.065V17.32h4.065V34.83zm14.838-14.38h-4.632v14.38h-4.089v-14.38h-4.595V17.32h13.316v3.127zm14.88 8.237l.024.071c-.08 2.053-.69 3.62-1.827 4.703-1.14 1.082-2.789 1.622-4.952 1.622-2.17 0-3.935-.665-5.294-1.996-1.36-1.33-2.039-3.058-2.039-5.182v-3.656c0-2.116.653-3.842 1.96-5.176 1.307-1.335 3.004-2.003 5.096-2.003 2.22 0 3.915.558 5.088 1.671 1.176 1.115 1.838 2.698 1.991 4.75l-.023.073h-3.969c-.056-1.139-.311-1.984-.766-2.538-.454-.553-1.228-.83-2.32-.83-.926 0-1.654.371-2.185 1.113-.53.742-.795 1.714-.795 2.916v3.68c0 1.21.29 2.189.868 2.934.579.746 1.375 1.118 2.388 1.118.981 0 1.677-.26 2.087-.782.41-.52.643-1.35.699-2.488h3.969zM7.013 41.009c-9.35-9.323-9.35-24.437 0-33.76 9.35-9.32 24.51-9.32 33.86 0 9.35 9.324 9.35 24.436 0 33.759-9.35 9.322-24.51 9.323-33.86 0zm16.302-13.95s4.31-.607 5.555-3.006c1.246-2.397 2.713-7.256 2.713-7.256-6.635 0-7.227 2.317-7.227 2.317s-4.193 11.69-5.689 16.004c-11.62 0-9.762-5.722-9.762-5.722l5.812-16.255h11.775l-.786 2.34s.96-2.34 7.449-2.34c0 0 6.653.029 5.872 2.353-.78 2.323-3.29 9.293-3.29 9.293-.84 2.272-5.752 2.252-12.422 2.272z"
                  fill="currentColor"
                  fill-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <div class="">
            <a href="https://www.ti8m.ch">
              <svg
                width="108"
                height="40"
                viewBox="0 0 108 40"
                xmlns="http://www.w3.org/2000/svg"
                class="w-full"
              >
                <path
                  fill="currentcolor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.6311 5.44531V12.1135H16.2104V17.2715H11.6311V31.1358C11.6311 32.1922 11.8488 32.947 12.2855 33.4001C12.7212 33.8529 13.3084 34.0791 14.0465 34.0791C14.4327 34.0791 14.7638 34.0584 15.0406 34.0161C15.317 33.9745 15.6402 33.903 16.0091 33.8027L16.6386 39.1119C15.8999 39.3633 15.1786 39.5522 14.474 39.6781C13.7694 39.8037 13.0061 39.8666 12.1845 39.8666C9.65138 39.8666 7.70155 39.1709 6.33466 37.7778C4.96712 36.386 4.28384 34.1801 4.28384 31.1604V17.2715H0.308105V12.1135H4.28384V5.44531H11.6311Z"
                ></path>
                <path
                  fill="currentcolor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M21.2681 39.3381H28.6153V12.1135H21.2681V39.3381ZM21.2681 5.59643H28.6153V0.0859375H21.2681V5.59643Z"
                ></path>
                <path
                  fill="currentcolor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M43.1586 11.6601C43.1586 12.3814 43.3386 13.1233 43.6992 13.8869C44.0599 14.6502 44.6005 15.4932 45.3225 16.4155L47.4861 15.0063C48.4254 14.4027 49.0592 13.7824 49.3858 13.1443C49.7136 12.5073 49.8763 11.8109 49.8763 11.0561C49.8763 10.2174 49.5704 9.47088 48.9589 8.81645C48.3461 8.16268 47.5451 7.8358 46.555 7.8358C45.4641 7.8358 44.6258 8.20039 44.0389 8.93022C43.4517 9.65973 43.1586 10.5696 43.1586 11.6601ZM45.7251 34.2046C46.6136 34.2046 47.5025 34.0919 48.392 33.866C49.2809 33.6401 50.1369 33.3014 50.9586 32.8496L43.41 24.1151L42.9317 24.4414C42.0766 25.2443 41.4933 26.0269 41.1835 26.7879C40.8723 27.5496 40.7176 28.3148 40.7176 29.0846C40.7176 30.5738 41.1789 31.7994 42.1015 32.7614C43.0241 33.724 44.2317 34.2046 45.7251 34.2046ZM33.3704 29.4745C33.3704 27.4955 33.9153 25.7879 35.0058 24.3542C36.0963 22.9197 37.7569 21.4227 39.9877 19.8627C38.8471 18.3197 37.9959 16.9105 37.434 15.6351C36.8717 14.3614 36.5907 13.0607 36.5907 11.7358C36.5907 8.83383 37.4966 6.51416 39.3087 4.77842C41.1199 3.04235 43.5438 2.17383 46.5802 2.17383C49.2474 2.17383 51.4156 3.00071 53.0845 4.65284C54.7533 6.30465 55.5887 8.3053 55.5887 10.6538C55.5887 12.2978 55.1769 13.7987 54.355 15.1574C53.5333 16.5164 52.4094 17.7073 50.9841 18.7305L48.6438 20.3912L55.5887 28.4932C56.1923 27.4869 56.6622 26.3961 56.9979 25.222C57.3327 24.0483 57.5012 22.8066 57.5012 21.4984H62.9861C62.9861 23.8128 62.6999 25.9433 62.1301 27.8889C61.5599 29.8351 60.6874 31.563 59.5137 33.0725L64.7474 39.2119L64.6966 39.3378H56.5445L54.6068 37.0984C53.1815 38.021 51.7133 38.7128 50.2041 39.1745C48.6946 39.6355 47.0753 39.8663 45.3477 39.8663C41.69 39.8663 38.7802 38.9063 36.6163 36.9853C34.4523 35.065 33.3704 32.561 33.3704 29.4745Z"
                ></path>
                <path
                  fill="currentcolor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M75.3403 12.1127L75.6429 15.7104C76.514 14.4022 77.6091 13.392 78.9262 12.6786C80.2429 11.9661 81.7648 11.6094 83.4927 11.6094C85.2376 11.6094 86.7298 11.9956 87.9714 12.7664C89.213 13.5386 90.1527 14.7041 90.7898 16.2641C91.6288 14.8045 92.718 13.6641 94.0612 12.8418C95.4022 12.0202 96.9799 11.6094 98.7917 11.6094C101.475 11.6094 103.593 12.5363 105.145 14.3897C106.696 16.2428 107.473 19.0658 107.473 22.8563V39.3372H100.125V22.7933C100.125 20.7251 99.7888 19.2881 99.1183 18.4812C98.4478 17.6746 97.4498 17.2707 96.1248 17.2707C95.0839 17.2707 94.1825 17.5015 93.4196 17.9641C92.6557 18.4264 92.0475 19.0697 91.595 19.8933C91.595 20.213 91.6032 20.4858 91.6206 20.7133C91.6366 20.9399 91.6448 21.1713 91.6448 21.4068V39.3372H84.3235V22.7933C84.3235 20.7759 83.9878 19.3507 83.3173 18.5189C82.6455 17.6868 81.6393 17.2707 80.297 17.2707C79.3081 17.2707 78.4389 17.4599 77.6934 17.8386C76.9468 18.2163 76.3304 18.75 75.8435 19.4395V39.3372H68.5222V12.1127H75.3403Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </Main>
  <Footer />
</Layout>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
