<div class="relative flex min-h-0 flex-auto flex-col">
  <div class="flex min-h-0 w-full flex-auto overflow-auto">
    <div class="relative w-full flex-auto">
      <div
        class="hidden md:block text-slate-600 flex-none pr-2 text-right select-none"
      >
      </div>
      <code class="flex-auto relative block text-slate-50 overflow-auto">
        <pre
          class="flex min-h-full text-sm leading-6">
<span class="t comment">
'''
We organize events in Berne related to software engineering. The focus is to exchange knowledge 
and experience among software developers and software companies. We believe this increases the 
attractiveness of Berne as a place to develop great software!
'''
</span>
<span class="t def">def</span> <span class="t method">ultimateAnswer</span><span class="t bracket">()</span>:
  answer = <span class="t number">0</span>
  counter = <span class="t number">0</span>
  <span class="t keyword">while</span> counter &lt; <span class="t number">9</span>:     <span class="t comment"># TODO: document magic numbers</span>
    <span class="t keyword">if</span> <span class="t bracket">(</span>answer / <span class="t number">4</span><span class="t bracket">)</span> &lt; <span class="t number">7</span>:
      answer += <span class="t number">4</span>
    <span class="t keyword">else</span>:
      answer += <span class="t bracket">(</span>counter - <span class="t number">1</span><span class="t bracket">)</span>
    counter += <span class="t number">1</span>
  <span class="t keyword">return</span> answer + <span class="t number">1</span>

</pre>
      </code>
    </div>
  </div>
</div>

<style>
  span.t.keyword {
    @apply text-blue-400;
  }
  span.t.bracket {
    @apply text-yellow-400;
  }
  span.t.def {
    @apply text-red-500;
  }
  span.t.comment {
    @apply text-cyan-500;
  }
  span.t.number {
    @apply text-blue-300;
  }
  span.t.method {
    @apply text-yellow-300;
  }
</style>
