---

---

<div class="relative flex min-h-0 flex-auto flex-col">
  <div class="flex min-h-0 w-full flex-auto overflow-auto">
    <div class="relative w-full flex-auto">
      <pre
        class="flex min-h-full text-sm leading-6">
        <div class="hidden md:block text-slate-600 flex-none pr-2 text-right select-none" style="width: 50px;" />
<code class="flex-auto relative block text-slate-50 overflow-auto">
<span class="token tag"><span class="token punctuation">&lt;</span>div <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>pt-6<span class="hidden"> </span><span class="hidden">m</span><span class="hidden">d</span><span class="hidden">:</span><span class="hidden">p</span><span class="hidden">-</span><span class="hidden">8</span><span> </span><span>t</span><span>e</span><span>x</span><span>t</span><span>-</span><span>c</span><span>e</span><span>n</span><span>t</span><span>e</span><span>r</span><span class="hidden"> </span><span class="hidden">m</span><span class="hidden">d</span><span class="hidden">:</span><span class="hidden">t</span><span class="hidden">e</span><span class="hidden">x</span><span class="hidden">t</span><span class="hidden">-</span><span class="hidden">l</span><span class="hidden">e</span><span class="hidden">f</span><span class="hidden">t</span> space-y-4<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token punctuation">&lt;</span>blockquote<span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token punctuation">&lt;</span>p <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>text-lg<span> </span><span>f</span><span>o</span><span>n</span><span>t</span><span>-</span><span>m</span><span>e</span><span>d</span><span>i</span><span>u</span><span>m</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
      We organize events in Berne related to the field of software 
      engineering. The focus is to exchange knowledge and experience
      between software developers and companies, both on the professional
      as on the personal level. We believe that this helps to increases
      the attractiveness of Berne as a location to develop great software!
    <span class="token tag"><span class="token punctuation">&lt;/</span>p<span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token punctuation">&lt;/</span>blockquote<span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token punctuation">&lt;/</span>div<span class="token punctuation">&gt;</span></span>
</code> 
      </pre>
    </div>
  </div>
</div>

<style>
  span.token.tag {
    @apply text-blue-400;
  }
  span.token.punctuation {
    @apply text-slate-200;
  }
  span.token.attr-name {
    @apply text-cyan-500;
  }
  span.token.attr-value {
    @apply text-blue-300;
  }
</style>
