<div class="relative flex min-h-0 flex-auto flex-col">
  <div class="flex min-h-0 w-full flex-auto overflow-auto">
    <div class="relative w-full flex-auto">
      <div class="hidden md:block text-slate-600 flex-none pr-2 text-right select-none"/>
      <code class="flex-auto relative block text-slate-50 overflow-auto">
  <pre class="flex min-h-full text-sm leading-6">
<span class="token comment">
'''
 We organize events in Berne related to software engineering. The focus is to exchange knowledge 
 and experience among software developers and software companies. We believe this increases the 
 attractiveness of Berne as a place to develop great software!
'''
</span>
<span class="token def">def</span> <span class="token method">ultimateQuestion</span><span class="token bracket">()</span>:
  answer = <span class="token number">0</span>
  counter = <span class="token number">0</span>
  <span class="token keyword">while</span> counter &lt; <span class="token number">9</span>:
    <span class="token keyword">if</span> <span class="token bracket">(</span>answer / <span class="token number">4</span><span class="token bracket">)</span> &lt; <span class="token number">7</span>:
      answer += <span class="token number">4</span>
    <span class="token keyword">else</span>:
      answer += <span class="token bracket">(</span>counter - 1<span class="token bracket">)</span>
    counter += <span class="token number">1</span>
  <span class="token keyword">return</span> answer + <span class="token number">1</span>

</code> 
      </pre>
    </div>
  </div>
</div>

<style>
  span.token.keyword {
    @apply text-blue-400;
  }
  span.token.bracket {
    @apply text-yellow-400;
  }
  span.token.def {
    @apply text-red-500;
  }
  span.token.comment {
    @apply text-cyan-500;
  }
  span.token.number {
    @apply text-blue-300;
  }
  span.token.method {
    @apply text-yellow-300;
      }
</style>
