---
const { title } = Astro.props;
---

<section class="pl-0">
  <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">{title}</h2>
  <div
    class="grid grid-cols-1 content-center justify-center gap-3 py-5 sm:grid-cols-2 sm:gap-6"
  >
    <a href="https://mtrail.ch">
      <svg
        role="img"
        width="220"
        height="59"
        viewBox="0 0 220 59"
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-full"
      >
        <title>mtrail</title>
        <g fill="none" fill-rule="evenodd">
          <path fill="none" d="M170 59h50V0h-50z"></path>
          <path fill="currentColor" d="M10 48h190v-6H10z"></path>
          <path
            fill="currentColor"
            d="M138.216 46L133 42.555 153.13 15H200v6.108h-43.599z"></path>
          <g fill="currentColor">
            <path
              d="M46.887 22.15a9.23 9.23 0 0 0 .08-1.158c0-1.519-.446-2.7-1.326-3.514-.883-.817-2.192-1.23-3.89-1.23-1.145 0-2.348.284-3.577.847-1.25.57-2.684 1.431-4.262 2.56l-.26.187-.096-.303c-.34-1.076-.947-1.9-1.804-2.451-.865-.557-1.95-.84-3.222-.84-1.19 0-2.31.237-3.332.704-1.043.478-2.228 1.152-3.523 2l-.485.318.582-2.473h-6.026L11.18 36.212h6.027l3.275-14.009.093-.049c.768-.402 1.47-.728 2.088-.966.634-.246 1.23-.37 1.77-.37 1.062 0 1.778.179 2.19.545.414.369.624.953.624 1.735 0 .371-.066.89-.203 1.583a62.828 62.828 0 0 1-.398 1.883l-2.277 9.648h6.08l3.275-14.009.093-.049c.838-.44 1.564-.774 2.159-.994.613-.226 1.171-.342 1.66-.342 1.04 0 1.753.174 2.182.532.433.362.652.927.652 1.678 0 .401-.065.927-.194 1.563a77.292 77.292 0 0 1-.426 1.973l-2.283 9.648h6.082l3-12.759c.106-.458.187-.896.238-1.302M60.434 16.797l1.323-5.68H55.75l-1.329 5.68h-2.66l-.882 3.738h2.668l-2.267 9.693a35.39 35.39 0 0 0-.23 1.224c-.058.343-.087.7-.087 1.06 0 1.364.44 2.362 1.345 3.048.91.691 2.474 1.04 4.648 1.04 1.117 0 2.082-.049 2.868-.147.743-.093 1.462-.22 2.141-.378l.907-3.848h-.195c-.332.15-.77.289-1.298.41-.57.129-1.018.191-1.37.191-.896 0-1.546-.15-1.989-.458-.463-.32-.698-.88-.698-1.663 0-.372.057-.819.168-1.33.109-.503.225-1.003.346-1.5l1.726-7.342h6.04l.876-3.738h-6.045zM84.51 16.743a17.94 17.94 0 0 0-.75-.017c-1.19 0-2.39.273-3.567.81a21.135 21.135 0 0 0-3.607 2.136l-.502.365.762-3.24H70.82l-4.566 19.415h6.027l3.118-13.255.123-.04a16.423 16.423 0 0 1 2.472-.602 16.892 16.892 0 0 1 4.068-.116c.529.048.933.117 1.235.211h.352l1.331-5.638c-.144-.012-.3-.022-.468-.029M97.865 31.397l-.07.05c-.65.455-1.355.834-2.095 1.128-.752.297-1.468.448-2.133.448-1.008 0-1.795-.15-2.34-.444-.586-.319-.884-.87-.884-1.643 0-.827.211-1.506.628-2.017.409-.503 1.007-.897 1.779-1.17.722-.252 1.606-.446 2.627-.576 1.003-.13 2.1-.243 3.257-.338l.316-.026-1.085 4.588zm8.094-9.492c.04-.365.061-.666.061-.895 0-1.635-.686-2.81-2.097-3.587-1.434-.791-3.735-1.192-6.838-1.192-1.55 0-3.125.118-4.683.35-1.473.222-2.594.423-3.335.6l-.867 4.292h.27c.655-.237 1.622-.532 2.875-.876 1.3-.359 2.506-.54 3.585-.54 1.59 0 2.81.176 3.625.523.878.375 1.323 1.037 1.323 1.97 0 .221-.023.42-.066.594a7.279 7.279 0 0 0-.075.33l-.032.177-.182.01c-2.228.13-4.317.334-6.207.602-1.888.267-3.534.708-4.894 1.311-1.437.63-2.532 1.482-3.255 2.533-.723 1.05-1.09 2.351-1.09 3.867 0 1.414.51 2.576 1.511 3.454 1.012.885 2.34 1.333 3.95 1.333 1.013 0 1.817-.069 2.386-.206.575-.14 1.198-.347 1.852-.612.471-.206.998-.493 1.56-.853l1.953-1.25-.562 2.372h5.95l3.116-13.341c.07-.274.125-.597.166-.966zM115.243 9.135l-1.025 4.375h6.379l1.024-4.375zM113.619 16.797l-4.565 19.415h6.026l4.565-19.415zM127.955 9.135l-6.345 27.077h6.025l6.345-27.077z"
            ></path>
          </g>
        </g>
      </svg>
    </a>
    <a href="https://schaltstelle.ch">
      <svg
        role="img"
        width="299"
        height="89"
        viewBox="0 0 299 89"
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-full"
      >
      <g fill="none" fill-rule="evenodd">
        <path
          d="M121.671 47.1372C120.713 45.9505 119.15 45.2725 116.991 45.1103L113.541 44.845C112.524 44.727 111.817 44.4764 111.426 44.0784C110.984 43.7173 110.777 43.2971 110.799 42.818C110.799 42.0589 111.08 41.4398 111.625 40.9533C112.141 40.4742 113.062 40.2383 114.367 40.2383C115.509 40.2383 116.526 40.4079 117.411 40.7543C117.831 40.9386 118.244 41.1449 118.642 41.3734L122.541 39.1254C121.524 38.2188 120.381 37.4965 119.106 36.9584C118.435 36.7078 117.72 36.5236 116.961 36.3835C116.202 36.2582 115.347 36.1919 114.382 36.1919C112.17 36.1919 110.343 36.7447 108.898 37.8503C107.424 38.9485 106.665 40.5921 106.642 42.7959C106.665 44.6238 107.247 46.0537 108.367 47.0709C109.465 48.1101 110.881 48.7219 112.627 48.884L116.313 49.2157C117.087 49.2378 117.706 49.4147 118.177 49.7243C118.634 50.0265 118.863 50.5645 118.863 51.3384C118.863 52.2008 118.487 52.8789 117.72 53.358C116.961 53.8371 115.981 54.0729 114.78 54.0729C112.509 54.0729 110.608 53.4243 109.053 52.1197L105.301 54.2793C108.006 56.8443 111.057 58.1194 114.433 58.1194C116.924 58.0899 118.973 57.4929 120.573 56.3357C122.18 55.208 123.005 53.6086 123.027 51.5227C123.027 49.7538 122.585 48.2796 121.686 47.1298L121.671 47.1372Z"
          fill="currentColor"></path>
        <path
          d="M138.712 52.3118C137.739 53.3068 136.53 53.8227 135.086 53.8449C131.54 53.9112 129.742 51.6926 129.698 47.1892C129.749 42.6637 131.548 40.4304 135.086 40.4894C136.538 40.5336 137.732 41.0495 138.704 42.0446L142.338 39.9513L142.353 39.9366L142.375 39.9218C141.468 38.8015 140.407 37.9023 139.176 37.2242C137.953 36.5682 136.538 36.2292 134.923 36.1923C132.476 36.1702 130.331 37.0178 128.474 38.7278C126.55 40.4746 125.57 43.2976 125.526 47.1892C125.577 51.044 126.558 53.8227 128.474 55.5475C130.324 57.2648 132.469 58.1272 134.923 58.1272C136.53 58.0977 137.945 57.7292 139.176 57.0363C140.407 56.3582 141.468 55.4959 142.375 54.4345H142.368L138.704 52.3044L138.712 52.3118Z"
          fill="currentColor"></path>
        <path
          d="M160.543 38.0721C159.121 36.8191 157.544 36.1926 155.826 36.1926C153.608 36.1926 151.809 37.0403 150.438 38.7281H150.365V29.9424H150.357H146.2V57.8769H150.357V45.1037C150.357 43.6001 150.755 42.4576 151.544 41.6763C152.31 40.8803 153.298 40.4823 154.507 40.4823C155.701 40.4823 156.681 40.8803 157.44 41.6763C158.214 42.4576 158.605 43.6074 158.605 45.1037V57.8769H162.769V43.6369C162.703 41.1899 161.958 39.3325 160.551 38.0648L160.543 38.0721Z"
          fill="currentColor"></path>
        <path
          d="M180.665 37.7258C179.11 36.6792 177.024 36.1706 174.415 36.1927C171.327 36.1412 168.99 37.1804 167.406 39.3179L171.032 41.4037C171.334 41.0352 171.717 40.7625 172.16 40.5709C172.757 40.3498 173.575 40.2392 174.614 40.2392C177.474 40.1802 178.889 41.1016 178.867 42.9958V45.2512H173.096C170.885 45.2807 169.204 45.8998 168.062 47.1159C166.919 48.2952 166.344 49.7841 166.344 51.5899C166.344 53.4694 167 55.0172 168.32 56.2334C169.573 57.4716 171.356 58.0981 173.671 58.1276C175.078 58.1276 176.184 57.9433 176.987 57.5895C177.805 57.2431 178.403 56.7051 178.786 55.9828H178.867V57.877H183.031V43.2464C183.009 40.6298 182.213 38.7946 180.658 37.7258H180.665ZM178.874 50.3443C178.874 51.9584 178.543 52.9903 177.894 53.4473C177.179 53.9043 175.941 54.118 174.194 54.0811C172.801 54.0811 171.813 53.8011 171.209 53.2409C170.582 52.7323 170.265 52.1132 170.265 51.3761C170.243 49.7104 171.437 48.8554 173.87 48.7964H178.874V50.3443Z"
          fill="currentColor"></path>
        <path
          d="M205.703 39.76V36.4653H202.659V29.9424L198.495 32.3378V52.5995C198.495 54.2874 198.974 55.5773 199.932 56.4765C200.861 57.4052 202.069 57.8769 203.529 57.8769H205.703V53.8378H204.148C203.131 53.8599 202.637 53.3366 202.666 52.2458V39.76H205.71H205.703Z"
          fill="currentColor"></path>
        <path
          d="M192.937 53.8452C191.92 53.8673 191.426 53.344 191.456 52.2531V29.9424L187.291 32.3526V52.6069C187.291 54.2948 187.77 55.5846 188.729 56.4838C189.657 57.4125 190.866 57.8843 192.325 57.8843H194.5V53.8452H192.945H192.937Z"
          fill="currentColor"></path>
        <path
          d="M267.594 53.8452C266.577 53.8673 266.083 53.344 266.112 52.2531V29.9424L261.948 32.3526V52.6069C261.948 54.2948 262.427 55.5846 263.385 56.4838C264.314 57.4125 265.523 57.8843 266.982 57.8843H269.156V53.8452H267.601H267.594Z"
          fill="currentColor"></path>
        <path
          d="M277.986 53.8452C276.969 53.8673 276.475 53.344 276.505 52.2531V29.9424L272.34 32.3526V52.6069C272.34 54.2948 272.819 55.5846 273.778 56.4838C274.706 57.4125 275.915 57.8843 277.374 57.8843H279.549V53.8452H277.994H277.986Z"
          fill="currentColor"></path>
        <path
          d="M225.309 47.1372C224.351 45.9505 222.788 45.2725 220.629 45.1103L217.179 44.845C216.162 44.727 215.455 44.4764 215.064 44.0784C214.622 43.7173 214.415 43.2971 214.437 42.818C214.437 42.0589 214.718 41.4398 215.263 40.9533C215.779 40.4742 216.7 40.2383 218.005 40.2383C219.147 40.2383 220.164 40.4079 221.049 40.7543C221.469 40.9386 221.882 41.1449 222.28 41.3734L226.179 39.1254C225.162 38.2188 224.019 37.4965 222.744 36.9584C222.073 36.7078 221.358 36.5236 220.599 36.3835C219.84 36.2582 218.985 36.1919 218.02 36.1919C215.808 36.1919 213.98 36.7447 212.536 37.8503C211.062 38.9485 210.303 40.5921 210.28 42.7959C210.303 44.6238 210.885 46.0537 212.005 47.0709C213.103 48.1101 214.518 48.7219 216.265 48.884L219.951 49.2157C220.725 49.2378 221.344 49.4147 221.815 49.7243C222.272 50.0265 222.501 50.5645 222.501 51.3384C222.501 52.2008 222.125 52.8789 221.358 53.358C220.599 53.8371 219.619 54.0729 218.418 54.0729C216.147 54.0729 214.238 53.4243 212.683 52.1197L208.939 54.2793C211.644 56.8443 214.695 58.1194 218.071 58.1194C220.562 58.0899 222.604 57.4929 224.211 56.3357C225.818 55.208 226.643 53.6086 226.665 51.5227C226.665 49.7538 226.223 48.2796 225.324 47.1298L225.309 47.1372Z"
          fill="currentColor"></path>
        <path
          d="M237.279 39.76V36.4653H234.235V29.9424L230.07 32.3378V52.5995C230.07 54.2874 230.549 55.5773 231.515 56.4765C232.436 57.4052 233.645 57.8769 235.104 57.8769H237.279V53.8378H235.724C234.706 53.8599 234.213 53.3366 234.242 52.2458V39.76H237.286H237.279Z"
          fill="currentColor"></path>
        <path
          d="M257.621 45.2503C257.599 42.4274 256.744 40.2162 255.086 38.6094C253.442 37.0248 251.445 36.2287 249.079 36.1919C248.091 36.1919 247.089 36.3835 246.079 36.7521C245.055 37.1206 244.133 37.725 243.3 38.5652C242.49 39.3907 241.826 40.5184 241.303 41.9557C240.787 43.3561 240.529 45.1103 240.529 47.233C240.529 49.4368 240.824 51.2205 241.428 52.5988C241.974 54.0361 242.681 55.149 243.566 55.945C244.023 56.3209 244.502 56.6453 245.025 56.9106C245.519 57.2128 246.02 57.456 246.543 57.6329C247.583 57.9646 248.644 58.1267 249.742 58.1267C252.602 58.1489 255.093 56.999 257.209 54.6552L253.575 52.562C252.396 53.5791 251.091 54.0803 249.654 54.0803C248.202 54.0803 247.03 53.6233 246.131 52.7167C245.173 51.8249 244.693 50.5129 244.693 48.7956H257.629V45.2503H257.621ZM244.686 45.2503C244.76 43.5772 245.195 42.3168 245.991 41.4619C246.787 40.6437 247.819 40.2383 249.072 40.2383C250.325 40.2383 251.356 40.6437 252.152 41.4619C252.971 42.3168 253.398 43.5772 253.457 45.2503H244.686Z"
          fill="currentColor"></path>
        <path
          d="M299 45.2503C298.978 42.4274 298.123 40.2162 296.465 38.6094C294.821 37.0248 292.824 36.2287 290.458 36.1919C289.47 36.1919 288.468 36.3835 287.458 36.7521C286.433 37.1206 285.505 37.725 284.679 38.5652C283.868 39.3907 283.205 40.5184 282.682 41.9557C282.166 43.3561 281.908 45.1103 281.908 47.233C281.908 49.4368 282.203 51.2205 282.807 52.5988C283.352 54.0361 284.06 55.149 284.944 55.945C285.401 56.3209 285.88 56.6453 286.404 56.9106C286.898 57.2128 287.399 57.456 287.922 57.6329C288.961 57.9646 290.023 58.1267 291.121 58.1267C293.981 58.1489 296.472 56.999 298.587 54.6552L294.961 52.562C293.782 53.5791 292.47 54.0803 291.025 54.0803C289.573 54.0803 288.401 53.6233 287.502 52.7167C286.544 51.8249 286.065 50.5129 286.065 48.7956H299V45.2503ZM286.065 45.2503C286.138 43.5772 286.573 42.3168 287.369 41.4619C288.165 40.6437 289.19 40.2383 290.45 40.2383C291.711 40.2383 292.735 40.6437 293.531 41.4619C294.349 42.3168 294.777 43.5772 294.836 45.2503H286.065Z"
          fill="currentColor"></path>
        <path
          d="M76.1431 22.5422L68.6251 26.8834L61.1145 31.2247L53.5965 35.5586L46.0858 39.8925L46.0785 39.8999L38.5752 44.2338L31.0572 39.8999L23.5466 35.5586L16.0286 31.2247L8.51799 26.8834L1 22.5422L8.51799 18.2083L16.0286 13.867L23.5466 9.53308L31.0572 5.19181L38.5752 0.85791L46.0785 5.19181L53.5965 9.53308L61.1145 13.867L68.6251 18.2083L76.1431 22.5422Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M53.5961 35.5586V35.566L46.0928 39.8999L46.0854 39.8925L53.5961 35.5586Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M68.6251 61.5912L61.1218 65.9325H61.1145L53.5965 70.2664L46.0858 74.6003L46.0785 74.6076L38.5752 78.9415L31.0646 74.6076H31.0499L23.5466 70.2664H23.5392L16.0286 65.9325L8.51799 61.5912L1 57.2573L8.51799 52.916L16.0286 57.2573L23.5392 61.5912H23.5466L31.0499 65.9325H31.0572L38.5679 70.2664H38.5752L46.0785 65.9325L53.5965 61.5912H53.6038L61.1145 57.2573H61.1218L68.6251 61.5912Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M46.0932 74.608L46.0784 74.6153L38.5752 78.9419L46.0784 74.608L46.0858 74.6006L46.0932 74.608Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M68.6253 61.5908V61.5982L61.1221 65.9321L68.6253 61.5908Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M68.6253 61.5839V61.5912L61.1221 57.2573L68.6253 61.5839Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M31.0496 74.6079L23.5464 70.274V70.2666L31.0496 74.6079Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M23.5389 70.2665L16.0283 65.94V65.9326L23.5389 70.2665Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M76.1432 39.8999L68.6252 44.2338L61.1145 48.5824L53.5965 52.9163L46.0785 57.2576L38.5753 61.5915L31.0573 57.2576L23.5467 52.9163L16.0287 48.5824L8.51807 44.2338L16.0287 39.8999L23.5467 44.2338L31.0573 48.5824L38.5753 52.9163L46.0785 48.5824L53.5965 44.2338L61.1145 39.8999L68.6252 35.5586L76.1432 39.8999Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M53.5961 35.5586V35.566L46.0928 39.8999L46.0854 39.8925L53.5961 35.5586Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M76.143 22.542V31.2245L68.6251 35.5584L61.1144 39.8997L53.5964 44.2336L46.0784 48.5823L38.5752 52.9162V44.2336L46.0784 39.8997L46.0858 39.8923L46.0932 39.8997L53.5964 35.5658V35.5584L61.1144 31.2245L68.6251 26.8833L76.143 22.542Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M76.143 39.8989V65.9318L68.6251 70.2657L61.1144 74.607L53.5964 78.9409L46.0784 83.2822L38.5752 87.6234V78.9409L46.0784 74.6144L46.0932 74.607L46.0858 74.5996L53.5964 70.2657L61.1144 65.9318H61.1218L68.6251 61.5979V52.9154L61.1218 57.2566H61.1144L53.6038 61.5905H53.5964L46.0784 65.9318L38.5752 70.2657V61.5905L46.0784 57.2566L53.5964 52.9154L61.1144 48.5815L68.6251 44.2328L76.143 39.8989Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M46.0784 74.6079V74.6153L38.5752 78.9418L46.0784 74.6079Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M46.0939 74.6083L46.0784 74.6161V74.6083L46.0861 74.6006L46.0939 74.6083Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M68.6253 61.5908V61.5982L61.1221 65.9321L68.6253 61.5908Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M16.0287 39.8999L8.51807 44.2338V35.5586L16.0287 39.8999Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M8.51799 35.5584V44.2336L16.0286 48.5823L23.5466 52.9162L31.0572 57.2574L38.5752 61.5913V70.2665H38.5679L31.0572 65.9326H31.0499L23.5466 61.5913H23.5392L16.0286 57.2574L8.51799 52.9162L1 48.5823V22.542L8.51799 26.8833L16.0286 31.2245L23.5466 35.5584L31.0572 39.8997L38.5752 44.2336V52.9162L31.0572 48.5823L23.5466 44.2336L16.0286 39.8997L8.51799 35.5584Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M23.5389 70.2665L16.0283 65.94V65.9326L23.5389 70.2665Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M31.0496 74.6079L23.5464 70.274V70.2666L31.0496 74.6079Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M38.5752 78.9416V87.6241L31.0572 83.2828L23.5466 78.9416L16.0286 74.6077L8.51799 70.2664L1 65.9325V57.2573L8.51799 61.5912L16.0286 65.9325V65.9399L23.5392 70.2664H23.5466V70.2738L31.0499 74.6077H31.0646L38.5752 78.9416Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
        <path
          d="M68.6253 52.916V61.5912L61.1221 57.2573L68.6253 52.916Z"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linejoin="round"></path>
      </g>
    </a>
  </div>
</section>
