---
const { title } = Astro.props;
---

<section class="pl-0">
  <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">{title}</h2>
  <div
    class="grid grid-cols-1 content-center justify-center gap-3 py-5 sm:grid-cols-3 sm:gap-6"
  >

    <a href="https://mtrail.ch">
      <svg
        role="img"
        width="220"
        height="59"
        viewBox="0 0 220 59"
        xmlns="http://www.w3.org/2000/svg"
        class="h-9 w-full"
      >
        <title>mtrail</title>
        <g fill="none" fill-rule="evenodd">
          <path fill="none" d="M170 59h50V0h-50z"></path>
          <path fill="currentColor" d="M10 48h190v-6H10z"></path>
          <path
            fill="currentColor"
            d="M138.216 46L133 42.555 153.13 15H200v6.108h-43.599z"></path>
          <g fill="currentColor">
            <path
              d="M46.887 22.15a9.23 9.23 0 0 0 .08-1.158c0-1.519-.446-2.7-1.326-3.514-.883-.817-2.192-1.23-3.89-1.23-1.145 0-2.348.284-3.577.847-1.25.57-2.684 1.431-4.262 2.56l-.26.187-.096-.303c-.34-1.076-.947-1.9-1.804-2.451-.865-.557-1.95-.84-3.222-.84-1.19 0-2.31.237-3.332.704-1.043.478-2.228 1.152-3.523 2l-.485.318.582-2.473h-6.026L11.18 36.212h6.027l3.275-14.009.093-.049c.768-.402 1.47-.728 2.088-.966.634-.246 1.23-.37 1.77-.37 1.062 0 1.778.179 2.19.545.414.369.624.953.624 1.735 0 .371-.066.89-.203 1.583a62.828 62.828 0 0 1-.398 1.883l-2.277 9.648h6.08l3.275-14.009.093-.049c.838-.44 1.564-.774 2.159-.994.613-.226 1.171-.342 1.66-.342 1.04 0 1.753.174 2.182.532.433.362.652.927.652 1.678 0 .401-.065.927-.194 1.563a77.292 77.292 0 0 1-.426 1.973l-2.283 9.648h6.082l3-12.759c.106-.458.187-.896.238-1.302M60.434 16.797l1.323-5.68H55.75l-1.329 5.68h-2.66l-.882 3.738h2.668l-2.267 9.693a35.39 35.39 0 0 0-.23 1.224c-.058.343-.087.7-.087 1.06 0 1.364.44 2.362 1.345 3.048.91.691 2.474 1.04 4.648 1.04 1.117 0 2.082-.049 2.868-.147.743-.093 1.462-.22 2.141-.378l.907-3.848h-.195c-.332.15-.77.289-1.298.41-.57.129-1.018.191-1.37.191-.896 0-1.546-.15-1.989-.458-.463-.32-.698-.88-.698-1.663 0-.372.057-.819.168-1.33.109-.503.225-1.003.346-1.5l1.726-7.342h6.04l.876-3.738h-6.045zM84.51 16.743a17.94 17.94 0 0 0-.75-.017c-1.19 0-2.39.273-3.567.81a21.135 21.135 0 0 0-3.607 2.136l-.502.365.762-3.24H70.82l-4.566 19.415h6.027l3.118-13.255.123-.04a16.423 16.423 0 0 1 2.472-.602 16.892 16.892 0 0 1 4.068-.116c.529.048.933.117 1.235.211h.352l1.331-5.638c-.144-.012-.3-.022-.468-.029M97.865 31.397l-.07.05c-.65.455-1.355.834-2.095 1.128-.752.297-1.468.448-2.133.448-1.008 0-1.795-.15-2.34-.444-.586-.319-.884-.87-.884-1.643 0-.827.211-1.506.628-2.017.409-.503 1.007-.897 1.779-1.17.722-.252 1.606-.446 2.627-.576 1.003-.13 2.1-.243 3.257-.338l.316-.026-1.085 4.588zm8.094-9.492c.04-.365.061-.666.061-.895 0-1.635-.686-2.81-2.097-3.587-1.434-.791-3.735-1.192-6.838-1.192-1.55 0-3.125.118-4.683.35-1.473.222-2.594.423-3.335.6l-.867 4.292h.27c.655-.237 1.622-.532 2.875-.876 1.3-.359 2.506-.54 3.585-.54 1.59 0 2.81.176 3.625.523.878.375 1.323 1.037 1.323 1.97 0 .221-.023.42-.066.594a7.279 7.279 0 0 0-.075.33l-.032.177-.182.01c-2.228.13-4.317.334-6.207.602-1.888.267-3.534.708-4.894 1.311-1.437.63-2.532 1.482-3.255 2.533-.723 1.05-1.09 2.351-1.09 3.867 0 1.414.51 2.576 1.511 3.454 1.012.885 2.34 1.333 3.95 1.333 1.013 0 1.817-.069 2.386-.206.575-.14 1.198-.347 1.852-.612.471-.206.998-.493 1.56-.853l1.953-1.25-.562 2.372h5.95l3.116-13.341c.07-.274.125-.597.166-.966zM115.243 9.135l-1.025 4.375h6.379l1.024-4.375zM113.619 16.797l-4.565 19.415h6.026l4.565-19.415zM127.955 9.135l-6.345 27.077h6.025l6.345-27.077z"
            ></path>
          </g>
        </g>
      </svg>
    </a>

    <a href="https://www.zuehlke.com">
      <svg
        width="140"
        height="50"
        viewBox="0 0 140 50"
        xmlns="http://www.w3.org/2000/svg"
        class="h-9 w-full"
      >
        <title>Zühlke Engineering AG, Bern</title>
        <path
          d="M41.889,40.099C41.568,40.741 41.025,41.112 40.284,41.112C38.926,41.112 38.383,39.927 38.383,38.717C38.383,37.457 38.951,36.322 40.358,36.322C41.074,36.322 41.617,36.667 41.889,37.309C41.963,37.482 42.012,37.68 42.012,37.877C42.012,38.05 41.914,38.124 41.766,38.149L39.049,38.569C39.099,39.359 39.445,40.371 40.408,40.371C41,40.371 41.37,40.001 41.667,39.507C41.716,39.408 41.741,39.309 41.889,39.309C42.012,39.309 42.062,39.408 42.062,39.531C42.037,39.704 41.963,39.976 41.889,40.099ZM41.148,37.828C41.099,37.334 40.753,36.84 40.21,36.84C39.445,36.84 39.124,37.482 39.049,38.173L41.148,37.828Z"
          fill="currentColor"></path>
        <path
          d="M48.576,40.84C48.576,40.963 48.551,41.013 48.428,41.013L47.959,41.013C47.835,41.013 47.811,40.988 47.811,40.84L47.811,37.976C47.811,37.383 47.712,36.84 46.971,36.84C46.625,36.84 46.304,36.988 46.156,37.334C46.132,37.432 46.107,37.63 46.107,37.753L46.107,40.84C46.107,40.939 46.107,41.013 45.959,41.013L45.465,41.013C45.366,41.013 45.317,40.963 45.317,40.865L45.317,37.827C45.317,37.26 45.095,36.815 44.453,36.815C44.107,36.815 43.786,36.963 43.662,37.309C43.613,37.432 43.613,37.63 43.613,37.778L43.613,40.865C43.613,40.988 43.588,41.037 43.44,41.037L42.996,41.037C42.872,41.037 42.848,41.013 42.848,40.865L42.848,37.334C42.848,37.087 42.848,36.963 43.021,36.766C43.267,36.494 44.132,36.371 44.477,36.371C44.996,36.371 45.465,36.469 45.786,36.914C46.181,36.494 46.601,36.371 47.169,36.371C48.082,36.371 48.601,36.766 48.601,37.679L48.601,40.84L48.576,40.84Z"
          fill="currentColor"></path>
        <path
          d="M51.371,41.112C51.001,41.112 50.729,41.013 50.408,40.791L50.408,42.914C50.408,43.013 50.359,43.062 50.26,43.062L49.791,43.062C49.667,43.062 49.618,43.038 49.618,42.914L49.618,37.581C49.618,37.359 49.593,37.087 49.716,36.89C49.988,36.494 50.902,36.322 51.346,36.322C52.704,36.322 53.396,37.211 53.396,38.494C53.396,39.704 52.729,41.112 51.371,41.112ZM51.173,36.815C50.581,36.815 50.408,37.038 50.408,37.581L50.408,40.272C50.68,40.445 50.976,40.569 51.297,40.569C52.26,40.569 52.605,39.457 52.605,38.667C52.605,37.778 52.21,36.815 51.173,36.815Z"
          fill="currentColor"></path>
        <path
          d="M56.013,41.112C54.68,41.112 53.988,39.926 53.988,38.717C53.988,37.556 54.729,36.346 56.013,36.346C57.322,36.346 58.013,37.605 58.013,38.766C57.988,39.926 57.272,41.112 56.013,41.112ZM57.174,38.642C57.174,37.951 56.803,36.84 55.939,36.84C55.05,36.84 54.803,37.902 54.803,38.618C54.803,39.358 55.099,40.593 56.038,40.593C56.902,40.593 57.174,39.507 57.174,38.815L57.174,38.642Z"
          fill="currentColor"></path>
        <path
          d="M63.938,36.692L62.629,40.864C62.604,40.938 62.604,40.988 62.506,40.988L62.209,40.988C62.086,40.988 62.061,40.988 62.036,40.864L61.172,38.025L60.308,40.864C60.283,40.988 60.259,40.988 60.135,40.988L59.888,40.988C59.765,40.988 59.74,40.963 59.715,40.864L58.382,36.692C58.357,36.642 58.357,36.593 58.357,36.543C58.357,36.469 58.407,36.445 58.481,36.445L58.975,36.445C59.123,36.445 59.148,36.469 59.197,36.617L60.16,39.877L61.123,36.617C61.172,36.445 61.148,36.445 61.37,36.445C61.469,36.445 61.469,36.494 61.493,36.593L62.506,39.901L63.419,36.617C63.444,36.494 63.469,36.445 63.617,36.445L63.938,36.445C63.987,36.445 64.086,36.445 64.086,36.543C63.962,36.593 63.962,36.642 63.938,36.692Z"
          fill="currentColor"></path>
        <path
          d="M67.763,40.099C67.443,40.741 66.899,41.112 66.159,41.112C64.801,41.112 64.257,39.927 64.257,38.717C64.257,37.457 64.825,36.322 66.233,36.322C66.949,36.322 67.492,36.667 67.763,37.309C67.838,37.482 67.887,37.68 67.887,37.877C67.887,38.05 67.788,38.124 67.64,38.149L64.949,38.544C64.998,39.334 65.344,40.346 66.307,40.346C66.899,40.346 67.27,39.976 67.566,39.482C67.615,39.383 67.64,39.285 67.788,39.285C67.912,39.285 67.961,39.383 67.961,39.507C67.936,39.704 67.838,39.976 67.763,40.099ZM67.023,37.828C66.973,37.334 66.628,36.84 66.084,36.84C65.319,36.84 64.998,37.482 64.924,38.173L67.023,37.828Z"
          fill="currentColor"></path>
        <path
          d="M70.902,37.21C70.557,37.21 70.557,36.741 70.013,36.741C69.594,36.741 69.495,37.013 69.495,37.358L69.495,40.815C69.495,40.914 69.47,40.963 69.372,40.963L68.902,40.963C68.779,40.963 68.73,40.963 68.73,40.815L68.73,37.136C68.73,36.963 68.73,36.815 68.853,36.667C69.1,36.42 70.013,36.297 70.359,36.297C70.705,36.297 71.273,36.346 71.273,36.815C71.248,37.037 71.1,37.21 70.902,37.21Z"
          fill="currentColor"></path>
        <path
          d="M72.235,35.654C71.964,35.654 71.766,35.482 71.766,35.185C71.766,34.914 71.964,34.716 72.235,34.716C72.532,34.716 72.704,34.914 72.704,35.21C72.704,35.457 72.482,35.654 72.235,35.654ZM72.606,40.84C72.606,40.963 72.581,41.012 72.458,41.012L71.939,41.012C71.84,41.012 71.816,40.988 71.816,40.889L71.816,36.593C71.816,36.469 71.84,36.445 71.964,36.445L72.433,36.445C72.581,36.445 72.606,36.469 72.606,36.617L72.606,40.84Z"
          fill="currentColor"></path>
        <path
          d="M77.202,40.815C77.202,40.914 77.177,40.988 77.054,40.988L76.584,40.988C76.461,40.988 76.412,40.964 76.412,40.84L76.412,37.852C76.412,37.655 76.412,37.433 76.338,37.235C76.165,36.865 75.77,36.766 75.375,36.766C75.078,36.766 74.708,36.84 74.511,37.112C74.436,37.235 74.412,37.408 74.412,37.556L74.412,40.815C74.412,40.939 74.387,40.988 74.264,40.988L73.77,40.988C73.646,40.988 73.622,40.939 73.622,40.815L73.622,37.26C73.622,37.038 73.622,36.89 73.794,36.741C74.14,36.42 75.054,36.322 75.498,36.322C76.14,36.322 76.807,36.445 77.078,37.087C77.152,37.285 77.177,37.581 77.177,37.778L77.177,40.815L77.202,40.815Z"
          fill="currentColor"></path>
        <path
          d="M78.112,42.42C78.137,42.396 78.161,42.371 78.186,42.346C78.211,42.322 78.235,42.322 78.285,42.297C78.63,42.322 78.902,42.519 79.297,42.519C80.211,42.519 80.779,42.05 80.779,41.062L80.779,40.692C80.334,40.89 80.063,41.161 79.569,41.161C78.408,41.161 77.89,40.075 77.89,38.988C77.89,37.655 78.655,36.322 80.038,36.322C80.433,36.322 81.544,36.519 81.544,37.136L81.544,41.235C81.544,42.445 80.433,43.136 79.396,43.136C79.223,43.136 78.877,43.087 78.606,42.964C78.334,42.84 78.137,42.741 78.137,42.544L78.137,42.42L78.112,42.42ZM79.84,40.519C80.013,40.519 80.779,40.371 80.779,40.149L80.779,37.309C80.779,36.914 80.26,36.791 79.964,36.791C79.001,36.791 78.68,37.951 78.68,38.791C78.655,39.606 78.951,40.519 79.84,40.519Z"
          fill="currentColor"></path>
        <path
          d="M84.904,35.654C84.633,35.654 84.435,35.482 84.435,35.185C84.435,34.914 84.633,34.716 84.904,34.716C85.201,34.716 85.373,34.914 85.373,35.21C85.373,35.457 85.151,35.654 84.904,35.654ZM85.299,40.84C85.299,40.963 85.275,41.012 85.151,41.012L84.633,41.012C84.534,41.012 84.509,40.988 84.509,40.889L84.509,36.593C84.509,36.469 84.534,36.445 84.657,36.445L85.126,36.445C85.275,36.445 85.299,36.469 85.299,36.617L85.299,40.84Z"
          fill="currentColor"></path>
        <path
          d="M89.916,40.124C89.916,40.297 89.891,40.42 89.793,40.568C89.496,40.963 88.657,41.111 88.163,41.111C86.78,41.111 86.089,40.198 86.089,38.864C86.089,37.63 86.805,36.346 88.188,36.346C88.533,36.346 88.83,36.445 89.126,36.642L89.126,34.445C89.126,34.321 89.175,34.272 89.299,34.272L89.743,34.272C89.867,34.272 89.916,34.297 89.916,34.42L89.916,40.124ZM89.126,37.111C88.879,36.889 88.632,36.79 88.286,36.79C87.323,36.79 86.904,37.827 86.904,38.642C86.904,39.556 87.299,40.568 88.361,40.568C88.879,40.568 89.151,40.395 89.151,39.877L89.151,37.111L89.126,37.111Z"
          fill="currentColor"></path>
        <path
          d="M94.21,40.099C93.889,40.741 93.346,41.112 92.605,41.112C91.247,41.112 90.704,39.927 90.704,38.717C90.704,37.457 91.272,36.322 92.679,36.322C93.396,36.322 93.939,36.667 94.21,37.309C94.284,37.482 94.334,37.68 94.334,37.877C94.334,38.05 94.235,38.124 94.087,38.149L91.396,38.544C91.445,39.334 91.791,40.346 92.754,40.346C93.346,40.346 93.716,39.976 94.013,39.482C94.062,39.383 94.087,39.285 94.235,39.285C94.358,39.285 94.408,39.383 94.408,39.507C94.358,39.704 94.26,39.976 94.21,40.099ZM93.47,37.828C93.42,37.334 93.075,36.84 92.531,36.84C91.766,36.84 91.445,37.482 91.371,38.173L93.47,37.828Z"
          fill="currentColor"></path>
        <path
          d="M98.04,40.124C98.04,40.297 98.016,40.519 97.917,40.667C97.645,41.038 96.831,41.112 96.411,41.112C95.621,41.112 94.88,40.815 94.88,39.902C94.88,38.741 96.411,38.445 97.275,38.173L97.275,37.729C97.275,37.26 97.201,36.791 96.608,36.791C96.238,36.791 95.991,37.013 95.868,37.359C95.843,37.383 95.843,37.433 95.818,37.482C95.744,37.655 95.645,37.754 95.473,37.754C95.25,37.754 95.127,37.581 95.127,37.383C95.127,36.643 96.139,36.346 96.732,36.346C97.695,36.346 98.04,36.84 98.04,37.754L98.04,40.124ZM97.275,38.618C96.682,38.791 95.67,39.013 95.67,39.803C95.67,40.346 96.04,40.643 96.559,40.643C97.003,40.643 97.275,40.494 97.275,40.001L97.275,38.618Z"
          fill="currentColor"></path>
        <path
          d="M100.307,41.112C99.813,41.112 99.418,40.988 99.072,40.643C98.924,40.494 98.8,40.297 98.8,40.099C98.8,39.877 98.973,39.704 99.171,39.704C99.615,39.704 99.566,40.593 100.381,40.593C100.776,40.593 101.072,40.346 101.072,39.927C101.072,38.791 98.899,39.062 98.899,37.556C98.899,36.766 99.541,36.322 100.282,36.322C100.726,36.322 101.22,36.445 101.492,36.815C101.59,36.939 101.665,37.062 101.665,37.211C101.665,37.408 101.516,37.556 101.319,37.556C100.85,37.556 100.973,36.791 100.282,36.791C99.911,36.791 99.615,37.038 99.615,37.433C99.615,38.519 101.813,38.223 101.813,39.803C101.813,40.667 101.146,41.112 100.307,41.112Z"
          fill="currentColor"></path>
        <path
          d="M49.521,28.815L49.521,30.642L38.188,30.642L46.113,20.815L39.496,20.815L39.496,19.012L49.842,19.012L41.965,28.815L49.521,28.815Z"
          fill="currentColor"></path>
        <path
          d="M53.398,25.507C53.398,27.457 53.62,29.136 56.015,29.136C58.41,29.136 58.632,27.457 58.632,25.507L58.632,19.013L60.608,19.013L60.608,25.729C60.608,28.815 59.447,30.988 55.99,30.988C52.558,30.988 51.373,28.84 51.373,25.729L51.373,19.013L53.348,19.013L53.348,25.507L53.398,25.507Z"
          fill="currentColor"></path>
        <path
          d="M55.275,12.791C55.275,13.531 54.682,14.124 53.941,14.124C53.201,14.124 52.608,13.531 52.608,12.791C52.608,12.05 53.201,11.457 53.941,11.457C54.682,11.457 55.275,12.05 55.275,12.791Z"
          fill="currentColor"></path>
        <path
          d="M59.473,12.791C59.473,13.531 58.88,14.124 58.14,14.124C57.399,14.124 56.806,13.531 56.806,12.791C56.806,12.05 57.399,11.457 58.14,11.457C58.88,11.457 59.473,12.05 59.473,12.791Z"
          fill="currentColor"></path>
        <path
          d="M65.497,11.531L65.497,20.395L65.547,20.445C66.362,19.334 67.423,18.716 68.855,18.716C72.065,18.716 72.806,21.037 72.806,23.778L72.806,30.692L70.831,30.692L70.831,24.124C70.831,22.247 70.683,20.568 68.386,20.568C65.67,20.568 65.497,23.087 65.497,25.185L65.497,30.716L63.522,30.716L63.522,11.581L65.497,11.581L65.497,11.531Z"
          fill="currentColor"></path>
        <rect
          x="75.744"
          y="11.506"
          width="1.975"
          height="19.136"
          fill="currentColor"></rect>
        <path
          d="M82.978,23.334L87.225,19.013L89.867,19.013L84.88,23.976L90.805,30.667L88.188,30.667L82.978,24.766L82.978,30.667L81.003,30.667L81.003,11.531L82.978,11.531L82.978,23.334Z"
          fill="currentColor"></path>
        <path
          d="M100.011,26.939C99.271,28.223 98.234,29.136 96.653,29.136C94.456,29.136 92.95,27.408 92.925,25.26L101.888,25.26C102.086,21.803 100.135,18.692 96.481,18.692C92.925,18.692 90.95,21.531 90.95,24.988C90.95,28.321 93.123,30.988 96.53,30.988C98.777,30.988 100.53,29.852 101.641,27.902L100.011,26.939ZM96.481,20.519C98.184,20.519 99.567,21.877 99.839,23.556L93.024,23.556C93.271,21.877 94.826,20.519 96.481,20.519Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
</section>
