---
const { title } = Astro.props;
---

<section class="pl-0">
  <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">{title}</h2>
  <div
    class="grid grid-cols-1 content-center justify-center gap-3 py-5 sm:grid-cols-2 sm:gap-6"
  >
    <a href="https://mtrail.ch">
      <svg
        role="img"
        width="220"
        height="59"
        viewBox="0 0 220 59"
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-full"
      >
        <title>mtrail</title>
        <g fill="none" fill-rule="evenodd">
          <path fill="none" d="M170 59h50V0h-50z"></path>
          <path fill="currentColor" d="M10 48h190v-6H10z"></path>
          <path
            fill="currentColor"
            d="M138.216 46L133 42.555 153.13 15H200v6.108h-43.599z"></path>
          <g fill="currentColor">
            <path
              d="M46.887 22.15a9.23 9.23 0 0 0 .08-1.158c0-1.519-.446-2.7-1.326-3.514-.883-.817-2.192-1.23-3.89-1.23-1.145 0-2.348.284-3.577.847-1.25.57-2.684 1.431-4.262 2.56l-.26.187-.096-.303c-.34-1.076-.947-1.9-1.804-2.451-.865-.557-1.95-.84-3.222-.84-1.19 0-2.31.237-3.332.704-1.043.478-2.228 1.152-3.523 2l-.485.318.582-2.473h-6.026L11.18 36.212h6.027l3.275-14.009.093-.049c.768-.402 1.47-.728 2.088-.966.634-.246 1.23-.37 1.77-.37 1.062 0 1.778.179 2.19.545.414.369.624.953.624 1.735 0 .371-.066.89-.203 1.583a62.828 62.828 0 0 1-.398 1.883l-2.277 9.648h6.08l3.275-14.009.093-.049c.838-.44 1.564-.774 2.159-.994.613-.226 1.171-.342 1.66-.342 1.04 0 1.753.174 2.182.532.433.362.652.927.652 1.678 0 .401-.065.927-.194 1.563a77.292 77.292 0 0 1-.426 1.973l-2.283 9.648h6.082l3-12.759c.106-.458.187-.896.238-1.302M60.434 16.797l1.323-5.68H55.75l-1.329 5.68h-2.66l-.882 3.738h2.668l-2.267 9.693a35.39 35.39 0 0 0-.23 1.224c-.058.343-.087.7-.087 1.06 0 1.364.44 2.362 1.345 3.048.91.691 2.474 1.04 4.648 1.04 1.117 0 2.082-.049 2.868-.147.743-.093 1.462-.22 2.141-.378l.907-3.848h-.195c-.332.15-.77.289-1.298.41-.57.129-1.018.191-1.37.191-.896 0-1.546-.15-1.989-.458-.463-.32-.698-.88-.698-1.663 0-.372.057-.819.168-1.33.109-.503.225-1.003.346-1.5l1.726-7.342h6.04l.876-3.738h-6.045zM84.51 16.743a17.94 17.94 0 0 0-.75-.017c-1.19 0-2.39.273-3.567.81a21.135 21.135 0 0 0-3.607 2.136l-.502.365.762-3.24H70.82l-4.566 19.415h6.027l3.118-13.255.123-.04a16.423 16.423 0 0 1 2.472-.602 16.892 16.892 0 0 1 4.068-.116c.529.048.933.117 1.235.211h.352l1.331-5.638c-.144-.012-.3-.022-.468-.029M97.865 31.397l-.07.05c-.65.455-1.355.834-2.095 1.128-.752.297-1.468.448-2.133.448-1.008 0-1.795-.15-2.34-.444-.586-.319-.884-.87-.884-1.643 0-.827.211-1.506.628-2.017.409-.503 1.007-.897 1.779-1.17.722-.252 1.606-.446 2.627-.576 1.003-.13 2.1-.243 3.257-.338l.316-.026-1.085 4.588zm8.094-9.492c.04-.365.061-.666.061-.895 0-1.635-.686-2.81-2.097-3.587-1.434-.791-3.735-1.192-6.838-1.192-1.55 0-3.125.118-4.683.35-1.473.222-2.594.423-3.335.6l-.867 4.292h.27c.655-.237 1.622-.532 2.875-.876 1.3-.359 2.506-.54 3.585-.54 1.59 0 2.81.176 3.625.523.878.375 1.323 1.037 1.323 1.97 0 .221-.023.42-.066.594a7.279 7.279 0 0 0-.075.33l-.032.177-.182.01c-2.228.13-4.317.334-6.207.602-1.888.267-3.534.708-4.894 1.311-1.437.63-2.532 1.482-3.255 2.533-.723 1.05-1.09 2.351-1.09 3.867 0 1.414.51 2.576 1.511 3.454 1.012.885 2.34 1.333 3.95 1.333 1.013 0 1.817-.069 2.386-.206.575-.14 1.198-.347 1.852-.612.471-.206.998-.493 1.56-.853l1.953-1.25-.562 2.372h5.95l3.116-13.341c.07-.274.125-.597.166-.966zM115.243 9.135l-1.025 4.375h6.379l1.024-4.375zM113.619 16.797l-4.565 19.415h6.026l4.565-19.415zM127.955 9.135l-6.345 27.077h6.025l6.345-27.077z"
            ></path>
          </g>
        </g>
      </svg>
    </a>    
  </div>
</section>
