---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="my-2 flex flex-col items-center sm:flex-row">
      &#169; 2010&ndash;{currentYear}
    </div>

    <div class="my-2 flex flex-col items-center sm:flex-row">
      <a
        class="relative underline-offset-4 hover:text-amber-400 hover:underline hover:decoration-amber-600 hover:decoration-dashed focus-visible:p-1"
        href="/contact">Contact</a
      >
      <span class="mx-2 hidden sm:inline">·</span>
      <a
        class="relative underline-offset-4 hover:text-amber-400 hover:underline hover:decoration-amber-600 hover:decoration-dashed focus-visible:p-1"
        href="/rss.xml"
        target="_blank"
        aria-label="RSS Feed">RSS</a
      >
    </div>
  </div>
</footer>
<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4;
  }
</style>
