---

---

<section id="hero">
  <div class="container mx-auto pb-10 pt-12">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 9000 3000"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
      class="h-32 w-full"
    >
      <g>
        <path
          d="M7756.37,1080.94C7750.17,1055.31 7740.38,1031.92 7726.99,1010.77C7702.05,971.377 7667.76,940.91 7624.11,919.37C7580.46,897.83 7530.87,887.06 7475.32,887.06C7418.07,887.06 7367.9,898.822 7324.82,922.346C7281.74,945.87 7248.44,979.171 7224.91,1022.25C7201.39,1065.33 7189.63,1116.63 7189.63,1176.15L6889.49,1176.15C6889.49,1065.61 6914.71,969.535 6965.16,887.911C7015.61,806.286 7085.19,743.083 7173.9,698.303C7262.61,653.523 7364.5,631.133 7479.57,631.133C7596.34,631.133 7698.93,652.956 7787.36,696.603C7875.79,740.249 7944.52,800.051 7993.55,876.007C8003.93,892.09 8013.21,908.657 8021.4,925.706C7954.27,965.729 7863.15,1019.46 7756.37,1080.94Z"
          style="fill:rgb(242,175,13);"></path>
        <path
          d="M8021.4,925.706C8051.86,989.174 8067.09,1059.33 8067.09,1136.19C8067.09,1201.37 8054.62,1265.42 8029.68,1328.34C8004.74,1391.26 7960.95,1460.98 7898.32,1537.51C7835.68,1614.03 7747.97,1706.71 7635.16,1815.54L7335.02,2120.78L7335.02,2132.69L8093.45,2132.69L8093.45,2396.27L6899.69,2396.27L6899.69,2168.4L7504.22,1575.77C7562.04,1517.38 7610.22,1465.52 7648.77,1420.17C7687.31,1374.82 7716.22,1330.89 7735.49,1288.38C7754.77,1245.87 7764.4,1200.52 7764.4,1152.34C7764.4,1126.87 7761.73,1103.07 7756.37,1080.94C7863.15,1019.46 7954.27,965.729 8021.4,925.706Z"
          style="fill:rgb(230,97,26);"></path>
      </g>
      <g>
        <path
          d="M6275.7,1012.05L6262.1,1012.05L5764.7,1800.24L5764.7,1813.84L6237.5,1813.84C6216.94,1819.38 6197.18,1824.19 6178.32,1828.21C5952.97,1876.14 5712.79,1830.57 5477.15,1766.18L6180.48,654.94L6573.3,654.94L6573.3,1692.5C6464.92,1738.54 6363.91,1776.67 6275.7,1802.98L6275.7,1012.05Z"
          style="fill:rgb(242,175,13);"></path>
        <path
          d="M6272.3,2073.17L5441.6,2073.17L5441.6,1822.34L5477.15,1766.18C5712.79,1830.57 5952.97,1876.14 6178.32,1828.21C6197.18,1824.19 6216.94,1819.38 6237.5,1813.84L6275.7,1813.84L6275.7,1802.98C6363.91,1776.67 6464.92,1738.54 6573.3,1692.5L6573.3,1813.84L6796.06,1813.84L6796.06,2073.17L6573.3,2073.17L6573.3,2396.27L6272.3,2396.27L6272.3,2073.17Z"
          style="fill:rgb(230,97,26);"></path>
      </g>
      <g>
        <path
          d="M4081.3,1739.93C4081.85,1597.02 4105.8,1476.12 4153.14,1377.23C4201.04,1277.19 4265.8,1201.51 4347.42,1150.21C4429.05,1098.92 4520.03,1073.27 4620.36,1073.27C4696.88,1073.27 4759.8,1086.16 4809.11,1111.95C4858.43,1137.74 4897.54,1168.64 4926.45,1204.63C4955.36,1240.62 4977.75,1274.49 4993.62,1306.24L5006.37,1306.24L5006.37,654.94L5315.02,654.94L5315.02,1719.52C5209.02,1688.03 5104.89,1656.2 5004.47,1631.12C4998.61,1592.01 4989.47,1555.99 4977.04,1523.05C4953.52,1460.7 4918.94,1412.24 4873.31,1377.66C4827.68,1343.08 4771.7,1325.79 4705.38,1325.79C4636.8,1325.79 4579.55,1343.65 4533.63,1379.36C4487.72,1415.07 4453.14,1464.38 4429.9,1527.3C4418.58,1557.95 4410.01,1590.76 4404.21,1625.71C4295.72,1656.65 4187.93,1699.71 4081.3,1739.93Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M5315.02,1719.52L5315.02,2396.27L5012.32,2396.27L5012.32,2190.5L4993.62,2190.5C4977.75,2222.25 4954.79,2255.83 4924.75,2291.26C4894.71,2326.69 4855.03,2356.87 4805.71,2381.81C4756.4,2406.75 4694.33,2419.22 4619.51,2419.22C4516.91,2419.22 4425.08,2392.87 4344.02,2340.15C4262.97,2287.43 4198.91,2210.91 4151.86,2110.58C4104.82,2010.25 4081.29,1888.38 4081.29,1744.97C4081.29,1743.29 4081.3,1741.61 4081.3,1739.93C4187.93,1699.71 4295.72,1656.65 4404.21,1625.71C4398.1,1662.51 4395.04,1701.7 4395.04,1743.27C4395.04,1824.89 4406.8,1897.59 4430.32,1961.36C4453.85,2025.13 4488.71,2075.29 4534.91,2111.86C4581.1,2148.42 4637.93,2166.7 4705.38,2166.7C4770.57,2166.7 4826.12,2148.98 4872.03,2113.56C4917.95,2078.13 4952.81,2028.67 4976.61,1965.19C5000.42,1901.7 5012.32,1827.73 5012.32,1743.27C5012.32,1703.43 5009.71,1666.05 5004.47,1631.12C5104.89,1656.2 5209.02,1688.03 5315.02,1719.52Z"
          style="fill:rgb(0,150,227);"></path>
      </g>
      <g>
        <path
          d="M3678.37,1849.07L3678.37,654.94L3986.17,654.94L3986.17,1774.79C3882.15,1811.32 3779.41,1840.81 3678.37,1849.07Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M3986.17,1774.79L3986.17,2396.27L3678.37,2396.27L3678.37,1849.07C3779.41,1840.81 3882.15,1811.32 3986.17,1774.79Z"
          style="fill:rgb(0,150,227);"></path>
      </g>
      <g>
        <path
          d="M3221.89,1751.52L3221.89,1090.27L3529.68,1090.27L3529.68,1844.26C3428.93,1829.45 3325.17,1793.21 3221.89,1751.52Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M3376.64,904.916C3327.89,904.916 3285.94,888.619 3250.8,856.026C3215.65,823.433 3198.08,784.179 3198.08,738.265C3198.08,691.785 3215.65,652.248 3250.8,619.655C3285.94,587.061 3327.89,570.765 3376.64,570.765C3425.95,570.765 3468.04,587.061 3502.9,619.655C3537.76,652.248 3555.19,691.785 3555.19,738.265C3555.19,784.179 3537.76,823.433 3502.9,856.026C3468.04,888.619 3425.95,904.916 3376.64,904.916Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M3529.68,1844.26L3529.68,2396.27L3221.89,2396.27L3221.89,1751.52C3325.17,1793.21 3428.93,1829.45 3529.68,1844.26Z"
          style="fill:rgb(0,150,227);"></path>
      </g>
      <g>
        <path
          d="M1933,1766.17L1933,1090.27L2240.79,1090.27L2240.79,1650.31C2117.98,1690.95 2003.26,1736.82 1933,1766.17Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M2765.4,1579.52L2765.4,1090.27L3073.2,1090.27L3073.2,1689.19C2966.9,1644.15 2862.98,1601.56 2765.4,1579.52Z"
          style="fill:rgb(41,175,234);"></path>
        <path
          d="M3073.2,1689.19L3073.2,2396.27L2774.76,2396.27L2774.76,2164.15L2761.15,2164.15C2731.68,2237.27 2683.35,2297.07 2616.18,2343.55C2549.01,2390.03 2466.39,2413.27 2368.33,2413.27C2282.74,2413.27 2207.21,2394.14 2141.74,2355.88C2076.27,2317.62 2025.11,2261.78 1988.27,2188.38C1951.42,2114.97 1933,2026.12 1933,1921.82L1933,1766.17C2003.26,1736.82 2117.98,1690.95 2240.79,1650.31L2240.79,1874.21C2240.79,1956.97 2263.47,2022.72 2308.82,2071.47C2354.16,2120.22 2413.68,2144.59 2487.37,2144.59C2532.72,2144.59 2576.64,2133.54 2619.16,2111.43C2661.67,2089.32 2696.67,2056.3 2724.16,2012.38C2751.66,1968.44 2765.4,1913.32 2765.4,1847L2765.4,1579.52C2862.98,1601.56 2966.9,1644.15 3073.2,1689.19Z"
          style="fill:rgb(0,150,227);"></path>
      </g>
      <g>
        <path
          d="M1785.53,2083.69L1785.53,2403.11L1456.04,2403.11L1456.04,2083.69L1785.53,2083.69ZM1456.02,2659.71C1579.13,2623.7 1636.02,2532.17 1641.31,2403.22L1784.44,2403.47C1784.57,2696.07 1516.2,2776.6 1455.79,2777.21L1456.02,2659.71Z"
          style="fill:rgb(0,150,227);"></path>
        <g>
          <path
            d="M631.545,2027.65L631.519,1765.03C734.508,1808.27 840.965,1841.54 951.329,1863.57L951.424,2026.31C959.799,2059.89 977.707,2080.27 1008.45,2083.13L1356.19,2083.13L1356.19,2404L1008.45,2404C820.536,2403.73 630.594,2247.87 631.545,2027.65Z"
            style="fill:rgb(0,150,227);"></path>
          <path
            d="M953.425,1476.99L952.702,1991.05L952.557,1863.89C841.769,1841.9 734.903,1808.72 631.519,1765.58L631.537,1477.64C634.584,1254.46 794.629,1092.98 1004.87,1092.75L1004.87,1092.67L1786,1092.67L1786,1406.76L1004.87,1406.76C977.076,1412.4 954.239,1441.49 953.425,1476.99Z"
            style="fill:rgb(41,175,234);"></path>
        </g>
        <g>
          <path
            d="M1784.91,1809.2L1785.36,2003.29L1454.92,2003.29L1454.92,1879.23C1564.88,1868.75 1674.38,1848.49 1784.91,1809.2Z"
            style="fill:rgb(0,150,227);"></path>
          <path
            d="M1454.92,1879.23L1454.92,1676.77L1600.34,1676.29L1785.36,1676.29L1784.91,1809.66C1674.38,1848.94 1564.88,1868.75 1454.92,1879.23Z"
            style="fill:rgb(41,175,234);"></path>
        </g>
      </g>
    </svg>
  </div>
</section>
