---
import Sponsor from "./Sponsors.astro";
---

<section id="hero">
  <h1>Guild 42</h1>
  <!--   <p>
    We organize events in Bern on topics related to the field of software
    development. The focus is to exchange knowledge and experience between
    software developers and software companies, both on the professional as well
    as on the personal level. We believe that this helps to increases the
    attractiveness of Berne as a location for software development.
  </p> -->
</section>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 sm:pt-4;
  }
  #hero h1 {
    @apply my-4 inline-block bg-gradient-to-r from-blue-400 to-cyan-500 bg-clip-text text-3xl font-bold tracking-tighter text-transparent sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-4;
  }
</style>
