---
import Sponsor from "./Sponsors.astro";
---
<section id="hero">
  <h1>Guild 42</h1>
  <p>
    We organize events in Bern on topics related to the field of software development. This includes:
    <ul class="list-[square] list-inside">
      <li>Programming Language</li>
      <li>Frameworks &amp; Libraries</li>
      <li>Tools &amp; Platforms</li>
      <li>Patterns</li>
      <li>Methodology</li>
      <li>Project Management</li>
      <li>Application &amp; Software Architecture</li>
    </ul>
    <p>
      The focus is on the exchange of knowledge and experience for software developers and software development 
      companies, both on the professional as well as on the personal level.
    </p>
    <p>
      We believe that this initiative increases the attractiveness of Bern as a location
      for software developers and software development companies.
    </p>
  </p>
  <Sponsor/>
</section>
<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 sm:pt-4;
  }
  #hero h1 {
    @apply my-4 inline-block text-transparent tracking-tighter text-3xl font-bold sm:my-8 sm:text-5xl bg-clip-text bg-gradient-to-r from-blue-500 to-cyan-500;
  }
  #hero p {
    @apply my-4;
  }
</style>