---
import Sponsor from "./Sponsors.astro";
---

<section id="hero">
  <h1>Guild 42</h1>
  <p>
    We organize events in Bern on topics related to the field of software
    development. This includes topics like <i>
      programming language, frameworks & libraries, tools & platforms, patterns
      & methodology, application & software architecture</i
    > just to name a few.
    <p>
      The focus is on the exchange of knowledge and experience for software
      developers and software development companies, both on the professional as
      well as on the personal level.
    </p>
    <p>
      We believe that this initiative increases the attractiveness of Bern as a
      location for software developers and software development companies.
    </p>
  </p>
</section>
<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 sm:pt-4;
  }
  #hero h1 {
    @apply my-4 inline-block bg-gradient-to-r from-blue-500 to-cyan-500 bg-clip-text text-3xl font-bold tracking-tighter text-transparent sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-4;
  }
</style>
