---
import { PATRONS } from "@config";
import type { Patron, Category } from "types";

export interface Props {
  title: string;
  category: Category;
}

const { category, title } = Astro.props;
---

<section class="pb-3 pl-0">
  <h2 class="pb-2 pt-4 text-2xl font-semibold tracking-wide">{title}</h2>
  <ul class="list-outside list-[square] pl-6 marker:text-blue-400">
    {
      PATRONS.filter((patron: Patron) => patron.category === category).map(
        (patron: Patron) => (
          <li class="py-1">
            <a
              href={patron.href}
              class="inline-block"
              target="_blank"
              rel="noopener noreferrer"
            >
              {patron.name}
            </a>
            {patron.owner && <>({patron.owner})</>}
          </li>
        )
      )
    }
  </ul>
</section>
<style>
  a {
    @apply relative  text-amber-400 hover:decoration-dashed underline-offset-4 hover:underline hover:decoration-amber-600 focus-visible:p-1;
  }
</style>
