<div
  class="grid grid-cols-1 content-center justify-center gap-x-0 gap-y-8 px-0 sm:grid-cols-2"
>
  <a href="https://www.bedag.ch">
    <svg
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      data-name="logo"
      width="202.96"
      height="48"
      viewBox="0 0 202.96 48"
      class="h-9 w-full"
      id="logoanimate"
    >
      <title>Bedag Informatik AG</title>
      <path d="M0,0V38H38V0ZM0,38,14,0,38,27.8Z" fill="currentColor"
        ><animate
          id="step1"
          attributeName="d"
          dur="150ms"
          begin="logoanimate.mouseover+0s"
          from="M0,0V38H38V0ZM0,38,14,0,38,27.8Z"
          to="M0,0V38H38V0ZM0,26,29,0l9,38Z"
          fill="freeze"
          repeatCount="0"></animate><animate
          id="step2"
          attributeName="d"
          dur="150ms"
          begin="step1.end + 0.1s"
          from="M0,0V38H38V0ZM0,26,29,0l9,38Z"
          to="M0,0V38H38V0ZM0,8,38,0,27,38Z"
          fill="freeze"></animate><animate
          id="step3"
          attributeName="d"
          dur="150ms"
          begin="step2.end + 0.1s"
          from="M0,0V38H38V0ZM0,8,38,0,27,38Z"
          to="M0,0V38H38V0ZM0,0,38,8,8,38Z"
          fill="freeze"></animate><animate
          id="step4"
          attributeName="d"
          dur="150ms"
          begin="step3.end + 0.1s"
          from="M0,0V38H38V0ZM0,0,38,8,8,38Z"
          to="M0,0V38H38V0ZM14,0,38,27.8,0,38Z"
          fill="freeze"></animate><animate
          id="step5"
          attributeName="d"
          dur="0ms"
          begin="step4.end"
          from="M0,0V38H38V0ZM14,0,38,27.8,0,38Z"
          to="M0,0V38H38V0ZM0,38,14,0,38,27.8Z"
          fill="freeze"></animate></path
      ><g id="logotext"
        ><path
          d="M69.86,8.68a9.4,9.4,0,0,0-8.94,5.21V0H56V37.31h4.94V32.76A9.42,9.42,0,0,0,69.86,38c7.51,0,11.07-6.53,11.07-14.65S77.37,8.68,69.86,8.68Zm5.87,19c0,3.78-3,6.36-7.13,6.36-4.94,0-7.68-3.51-7.68-8.34V21c0-4.83,2.74-8.34,7.68-8.34,4.11,0,7.13,2.58,7.13,6.36Z"
          fill="currentColor"></path>
        <path
          d="M98.7,8.68c-7.68,0-12.06,6.09-12.06,14.64S90.64,38,98.7,38c6,0,11.24-3.57,11.74-9.55H105.5c-.33,3.84-3.23,5.6-6.74,5.6s-6.91-2.31-6.91-6.36v-3h18.81V22.06C110.66,14.6,106.71,8.68,98.7,8.68Zm6.86,12.07H91.85V19.21c0-4.11,3.18-6.58,6.85-6.58s6.86,2.47,6.86,6.58Z"
          fill="currentColor"></path>
        <path
          d="M136.26,13.89a9.44,9.44,0,0,0-8.93-5.21c-7.52,0-11.08,6.53-11.08,14.64S119.87,38,127.44,38a9.28,9.28,0,0,0,8.82-5.21v4.55h4.94V0h-4.94Zm0,11.79c0,4.83-2.74,8.34-7.67,8.34-4.06,0-7.13-2.58-7.13-6.36V19c0-3.78,3.07-6.36,7.13-6.36,4.93,0,7.67,3.51,7.67,8.34Z"
          fill="currentColor"></path>
        <path
          d="M170.32,18.22c0-6.58-4.55-9.54-10.59-9.54S149,12.41,149,17.68h4.93c0-3.57,2.3-5,5.76-5s5.81,1.21,5.81,5.54v2.25l-9.1.82c-5.54.49-8.34,4-8.34,8.39a8.48,8.48,0,0,0,2.31,5.81A9.09,9.09,0,0,0,157.05,38c4.17,0,7.24-1.87,8.77-5.82H166l.11,5.16h8.34V33.09h-4.17Zm-4.83,7.24c0,5.05-2.74,8.56-7.18,8.56-3.13,0-5.05-1.15-5.05-3.73V27.82c0-1.59.28-2.52,2.31-2.69l9.92-.93Z"
          fill="currentColor"></path>
        <path
          d="M198.07,9.34v4.55a9.46,9.46,0,0,0-8.94-5.21c-7.51,0-11.08,6.53-11.08,14.64S181.67,38,189.24,38a9.34,9.34,0,0,0,8.83-5.21v3.78c0,5.37-3.51,7.51-7.35,7.51s-6.36-1.64-6.75-4.82h-5C179.82,46,185.09,48,190.9,48c6,0,12.06-3.51,12.06-11.24V9.34Zm0,16.34c0,4.83-2.75,8.34-7.68,8.34-4.06,0-7.13-2.58-7.13-6.36V19c0-3.78,3.07-6.36,7.13-6.36,4.93,0,7.68,3.51,7.68,8.34Z"
          fill="currentColor"></path></g
      ><rect width="202.96" height="48" style="fill: #fff;opacity: 0"></rect>
    </svg>
  </a>

  <a href="https://www.m-s.ch/">
    <svg width="400" height="200" viewBox="0 0 400 300" class="h-9 w-full">
      <defs id="defs1"></defs>
    </svg>
    <g id="group-R5">
      <path
        id="path2"
        d="m 4871.76,1725.7 c 310.9,0 558.01,-254.96 558.01,-557.75 0,-308.052 -249.79,-571.009 -558.01,-571.009 h -989.18 v 390.438 h 946.68 c 103.61,0 188.65,74.361 188.65,177.931 0,103.58 -85.04,177.99 -188.65,177.99 h -492.33 c -305.54,0 -547.35,260.24 -547.35,563 0,300.15 241.81,549.77 547.35,549.77 h 891.49 V 2076.3 h -862.2 c -98.35,0 -175.4,-77.01 -175.4,-175.27 0,-98.3 77.05,-175.33 175.4,-175.33 h 505.54"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(0.13333333,0,0,-0.13333333,0,335.81333)"></path>
      <path
        id="path3"
        d="m 2821.13,2156.52 c 1.96,0.84 47.71,25.16 125.09,24.73 133.77,-0.71 242.16,-76.37 242.16,-170.56 0,-103.82 -113.05,-190.38 -274.56,-266.44 -125.19,80.02 -197.49,165.98 -207.36,244.01 -1.4,7.34 -2.35,14.8 -2.35,22.43 0,61.9 46.98,115.92 117.02,145.83 z m 523.23,-755.75 -2.85,-57.67 c -8.96,-184.14 -63.19,-253.06 -81.04,-275.73 -109.39,-138.78 -221.04,-192.749 -398.19,-192.839 -256.24,-0.133 -326.44,113.141 -331.37,181.409 -11.13,154.06 275.97,271.45 452.88,346.21 680.26,287.45 650.85,625.66 549.82,815.03 -93.43,175.14 -325.54,301.45 -599.93,301.45 -19.95,0 -39.65,-0.77 -59.13,-2.03 -40.74,-3.6 -90.58,-10.16 -143.84,-21.96 -224.03,-54.31 -438.18,-222.75 -438.18,-472.64 0,-154.31 127.49,-342.5 253.47,-451.24 -269.72,-151.76 -413.15,-311.88 -413.15,-534.72 0,-178.77 160.43,-511.77 745.41,-511.77 172.77,0 328.33,43.91 463.18,130.601 V 595.34 h 377.72 v 805.43 h -374.8"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(0.13333333,0,0,-0.13333333,0,335.81333)"></path>
      <path
        id="path4"
        d="m 1645.27,596.941 -102.77,1046.489 -10.12,1.06 -327.4,-1047.549 H 850.293 L 523.02,1647.43 512.91,1646.38 412.305,596.941 H 0 L 201.875,2460.78 h 479.922 l 347.213,-1177.84 22.48,80.26 321.96,1097.58 h 479.43 L 2057.6,596.941 h -412.33"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(0.13333333,0,0,-0.13333333,0,335.81333)"></path>
    </g>
  </a>
</div>

<a href="https://www.puzzle.ch">
  <svg
    role="img"
    width="186"
    height="48"
    viewBox="0 0 186 48"
    xmlns="http://www.w3.org/2000/svg"
    class="h-9 w-full"
  >
    <title>Puzzle ITC</title>
    <path
      d="M61.718 25.702h3.04c.884 0 1.558-.242 2.02-.727.462-.485.693-1.108.693-1.87 0-.778-.23-1.415-.693-1.912-.462-.497-1.136-.746-2.02-.746h-3.04v5.255zm0 3.127v6H57.63V17.32h7.128c2.082 0 3.735.532 4.956 1.594 1.224 1.063 1.835 2.451 1.835 4.167 0 1.724-.611 3.113-1.835 4.167-1.221 1.053-2.874 1.58-4.956 1.58h-3.04zM87.675 17.32v11.472c0 1.996-.666 3.543-1.997 4.642-1.33 1.097-3.073 1.646-5.227 1.646-2.18 0-3.936-.549-5.271-1.646-1.335-1.099-2.003-2.646-2.003-4.642V17.32h4.089v11.472c0 1.074.278 1.87.832 2.387.555.516 1.34.775 2.353.775 1.004 0 1.778-.256 2.32-.77.544-.513.815-1.31.815-2.392V17.32h4.089zm6.624 14.382h7.997v3.126H89.28V33l7.852-12.554h-7.888V17.32h12.943v1.756l-7.89 12.627zm14.29 0h7.996v3.126h-13.013V33l7.852-12.554h-7.889V17.32h12.942v1.756l-7.888 12.627zm13.614 0h7.562v3.126h-11.651V17.32h4.09v14.383zm19.954-4.365h-6.887v4.365h8.117v3.126h-12.205V17.32h12.23v3.127h-8.142v3.764h6.887v3.127zm13.568 7.49h-4.065V17.32h4.065V34.83zm14.838-14.38h-4.632v14.38h-4.089v-14.38h-4.595V17.32h13.316v3.127zm14.88 8.237l.024.071c-.08 2.053-.69 3.62-1.827 4.703-1.14 1.082-2.789 1.622-4.952 1.622-2.17 0-3.935-.665-5.294-1.996-1.36-1.33-2.039-3.058-2.039-5.182v-3.656c0-2.116.653-3.842 1.96-5.176 1.307-1.335 3.004-2.003 5.096-2.003 2.22 0 3.915.558 5.088 1.671 1.176 1.115 1.838 2.698 1.991 4.75l-.023.073h-3.969c-.056-1.139-.311-1.984-.766-2.538-.454-.553-1.228-.83-2.32-.83-.926 0-1.654.371-2.185 1.113-.53.742-.795 1.714-.795 2.916v3.68c0 1.21.29 2.189.868 2.934.579.746 1.375 1.118 2.388 1.118.981 0 1.677-.26 2.087-.782.41-.52.643-1.35.699-2.488h3.969zM7.013 41.009c-9.35-9.323-9.35-24.437 0-33.76 9.35-9.32 24.51-9.32 33.86 0 9.35 9.324 9.35 24.436 0 33.759-9.35 9.322-24.51 9.323-33.86 0zm16.302-13.95s4.31-.607 5.555-3.006c1.246-2.397 2.713-7.256 2.713-7.256-6.635 0-7.227 2.317-7.227 2.317s-4.193 11.69-5.689 16.004c-11.62 0-9.762-5.722-9.762-5.722l5.812-16.255h11.775l-.786 2.34s.96-2.34 7.449-2.34c0 0 6.653.029 5.872 2.353-.78 2.323-3.29 9.293-3.29 9.293-.84 2.272-5.752 2.252-12.422 2.272z"
      fill="currentColor"
      fill-rule="evenodd"
    >
    </path>
  </svg>
</a>

<a href="https://www.zuehlke.com">
  <svg
    role="img"
    width="70"
    height="35"
    viewBox="0 0 70 35"
    xmlns="http://www.w3.org/2000/svg"
    class="h-9 w-full"
  >
    <title>Zühlke Engineering AG</title>
    <path
      d="M6.889,31.599c-0.321,0.642 -0.864,1.013 -1.605,1.013c-1.358,-0 -1.901,-1.186 -1.901,-2.395c-0,-1.26 0.568,-2.395 1.975,-2.395c0.716,-0 1.259,0.345 1.531,0.987c0.074,0.173 0.123,0.371 0.123,0.568c0,0.173 -0.098,0.247 -0.246,0.272l-2.717,0.419c0.05,0.791 0.396,1.803 1.358,1.803c0.593,-0 0.963,-0.37 1.26,-0.864c0.049,-0.099 0.074,-0.198 0.222,-0.198c0.123,0 0.173,0.099 0.173,0.222c-0.025,0.173 -0.099,0.445 -0.173,0.568Zm-0.741,-2.271c-0.049,-0.494 -0.395,-0.988 -0.938,-0.988c-0.765,0 -1.086,0.642 -1.161,1.333l2.099,-0.345Z"
    ></path>
    <path
      d="M13.576,32.34c0,0.123 -0.025,0.173 -0.148,0.173l-0.469,-0c-0.124,-0 -0.148,-0.025 -0.148,-0.173l-0,-2.864c-0,-0.593 -0.099,-1.136 -0.84,-1.136c-0.346,-0 -0.667,0.148 -0.815,0.494c-0.024,0.098 -0.049,0.296 -0.049,0.419l-0,3.087c-0,0.098 -0,0.173 -0.148,0.173l-0.494,-0c-0.099,-0 -0.148,-0.05 -0.148,-0.149l-0,-3.037c-0,-0.568 -0.222,-1.012 -0.864,-1.012c-0.346,0 -0.667,0.148 -0.791,0.494c-0.049,0.123 -0.049,0.321 -0.049,0.469l0,3.086c0,0.124 -0.025,0.173 -0.173,0.173l-0.444,0c-0.124,0 -0.148,-0.024 -0.148,-0.173l-0,-3.53c-0,-0.247 -0,-0.371 0.172,-0.568c0.247,-0.272 1.112,-0.395 1.457,-0.395c0.519,-0 0.988,0.098 1.309,0.543c0.395,-0.42 0.815,-0.543 1.383,-0.543c0.913,-0 1.432,0.395 1.432,1.308l-0,3.161l-0.025,-0Z"
    ></path>
    <path
      d="M16.371,32.612c-0.37,-0 -0.642,-0.099 -0.963,-0.321l-0,2.123c-0,0.099 -0.05,0.148 -0.148,0.148l-0.469,0c-0.124,0 -0.173,-0.024 -0.173,-0.148l-0,-5.333c-0,-0.222 -0.025,-0.494 0.098,-0.692c0.272,-0.395 1.186,-0.567 1.63,-0.567c1.358,-0 2.049,0.889 2.049,2.172c0,1.21 -0.666,2.618 -2.024,2.618Zm-0.198,-4.297c-0.592,0 -0.765,0.223 -0.765,0.766l-0,2.691c0.272,0.173 0.568,0.296 0.889,0.296c0.963,0 1.308,-1.111 1.308,-1.901c0,-0.889 -0.395,-1.852 -1.432,-1.852Z"
    ></path>
    <path
      d="M21.013,32.612c-1.333,-0.001 -2.025,-1.186 -2.025,-2.395c0,-1.161 0.741,-2.371 2.025,-2.371c1.309,0 2,1.259 2,2.42c-0.025,1.16 -0.741,2.345 -2,2.345Zm1.16,-2.469c0,-0.691 -0.37,-1.802 -1.234,-1.802c-0.889,-0 -1.136,1.062 -1.136,1.778c0,0.74 0.296,1.975 1.235,1.975c0.864,0 1.136,-1.086 1.136,-1.778l-0,-0.173Z"
    ></path>
    <path
      d="M28.938,28.191l-1.309,4.173c-0.025,0.074 -0.025,0.124 -0.123,0.124l-0.297,-0c-0.123,-0 -0.148,-0 -0.173,-0.124l-0.864,-2.839l-0.864,2.839c-0.025,0.124 -0.049,0.124 -0.173,0.124l-0.247,-0c-0.123,-0 -0.148,-0.025 -0.173,-0.124l-1.333,-4.172c-0.025,-0.05 -0.025,-0.099 -0.025,-0.149c0,-0.074 0.05,-0.098 0.124,-0.098l0.494,-0c0.148,-0 0.172,0.024 0.222,0.172l0.963,3.26l0.963,-3.26c0.049,-0.172 0.024,-0.172 0.247,-0.172c0.098,-0 0.098,0.049 0.123,0.148l1.013,3.308l0.913,-3.284c0.025,-0.123 0.049,-0.172 0.198,-0.172l0.321,-0c0.049,-0 0.148,-0 0.148,0.098c-0.124,0.05 -0.124,0.099 -0.148,0.149Z"
    ></path>
    <path
      d="M32.764,31.599c-0.322,0.642 -0.865,1.013 -1.605,1.013c-1.359,-0 -1.902,-1.186 -1.902,-2.395c0,-1.26 0.568,-2.395 1.976,-2.395c0.716,-0 1.259,0.345 1.531,0.987c0.074,0.173 0.123,0.371 0.123,0.568c0,0.173 -0.099,0.247 -0.247,0.272l-2.691,0.395c0.049,0.79 0.395,1.802 1.358,1.802c0.592,0 0.963,-0.37 1.259,-0.864c0.049,-0.099 0.074,-0.197 0.222,-0.197c0.124,-0 0.173,0.098 0.173,0.222c-0.025,0.197 -0.123,0.469 -0.198,0.592Zm-0.74,-2.271c-0.05,-0.494 -0.395,-0.988 -0.939,-0.988c-0.765,0 -1.086,0.642 -1.16,1.333l2.099,-0.345Z"
    ></path>
    <path
      d="M35.902,28.71c-0.345,0 -0.345,-0.469 -0.889,-0.469c-0.419,0 -0.518,0.272 -0.518,0.617l-0,3.457c-0,0.099 -0.025,0.148 -0.123,0.148l-0.47,0c-0.123,0 -0.172,0 -0.172,-0.148l-0.001,-3.679c0,-0.173 0,-0.321 0.124,-0.469c0.247,-0.247 1.16,-0.37 1.506,-0.37c0.346,-0 0.914,0.049 0.914,0.518c-0.025,0.222 -0.173,0.395 -0.371,0.395Z"
    ></path>
    <path
      d="M37.235,27.154c-0.271,0 -0.469,-0.172 -0.469,-0.469c0,-0.271 0.198,-0.469 0.469,-0.469c0.297,0 0.469,0.198 0.469,0.494c0,0.247 -0.222,0.444 -0.469,0.444Zm0.371,5.186c-0,0.123 -0.025,0.172 -0.148,0.172l-0.519,0c-0.099,0 -0.123,-0.024 -0.123,-0.123l-0.001,-4.296c0,-0.124 0.025,-0.148 0.149,-0.148l0.469,-0c0.148,-0 0.173,0.024 0.173,0.172l-0,4.223Z"
    ></path>
    <path
      d="M42.202,32.315c-0,0.099 -0.025,0.173 -0.148,0.173l-0.469,0c-0.124,0 -0.173,-0.024 -0.173,-0.148l-0,-2.988c-0,-0.197 -0,-0.419 -0.074,-0.617c-0.173,-0.37 -0.568,-0.469 -0.963,-0.469c-0.297,0 -0.667,0.074 -0.864,0.346c-0.075,0.123 -0.099,0.296 -0.099,0.444l-0,3.259c-0,0.124 -0.025,0.173 -0.148,0.173l-0.494,0c-0.124,0 -0.148,-0.049 -0.148,-0.173l-0,-3.555c-0,-0.222 -0,-0.37 0.172,-0.519c0.346,-0.321 1.26,-0.419 1.704,-0.419c0.642,-0 1.309,0.123 1.58,0.765c0.074,0.198 0.099,0.494 0.099,0.691l0,3.037l0.025,0Z"
    ></path>
    <path
      d="M43.112,33.92c0.025,-0.024 0.049,-0.049 0.074,-0.074c0.025,-0.024 0.049,-0.024 0.099,-0.049c0.345,0.025 0.617,0.222 1.012,0.222c0.914,0 1.482,-0.469 1.482,-1.457l-0,-0.37c-0.445,0.197 -0.716,0.469 -1.21,0.469c-1.161,0 -1.679,-1.086 -1.679,-2.173c-0,-1.333 0.765,-2.666 2.148,-2.666c0.395,-0 1.506,0.197 1.506,0.814l0,4.099c0,1.21 -1.111,1.901 -2.148,1.901c-0.173,0 -0.519,-0.049 -0.79,-0.173c-0.272,-0.123 -0.469,-0.222 -0.469,-0.419l-0,-0.124l-0.025,0Zm1.728,-1.901c0.173,0 0.939,-0.148 0.939,-0.37l-0,-2.84c-0,-0.395 -0.519,-0.518 -0.815,-0.518c-0.963,-0 -1.284,1.16 -1.284,2c-0.025,0.814 0.271,1.728 1.16,1.728Z"
    ></path>
    <path
      d="M49.904,27.154c-0.271,0 -0.469,-0.172 -0.469,-0.469c0,-0.271 0.198,-0.469 0.469,-0.469c0.296,0 0.469,0.198 0.469,0.494c0,0.247 -0.222,0.444 -0.469,0.444Zm0.395,5.186c0,0.123 -0.024,0.172 -0.148,0.172l-0.518,0c-0.099,0 -0.124,-0.024 -0.124,-0.123l0,-4.296c0,-0.124 0.025,-0.148 0.148,-0.148l0.469,-0c0.149,-0 0.173,0.024 0.173,0.172l0,4.223Z"
    ></path>
    <path
      d="M54.916,31.624c-0,0.172 -0.025,0.296 -0.123,0.444c-0.297,0.395 -1.136,0.543 -1.63,0.543c-1.383,0 -2.074,-0.913 -2.074,-2.247c-0,-1.234 0.716,-2.518 2.099,-2.518c0.345,-0 0.642,0.099 0.938,0.296l-0,-2.197c-0,-0.124 0.049,-0.173 0.173,-0.173l0.444,-0c0.124,-0 0.173,0.024 0.173,0.148l-0,5.704Zm-0.79,-3.013c-0.247,-0.222 -0.494,-0.321 -0.84,-0.321c-0.963,0 -1.382,1.037 -1.382,1.852c-0,0.914 0.395,1.926 1.456,1.926c0.519,0 0.791,-0.173 0.791,-0.691l-0,-2.766l-0.025,0Z"
    ></path>
    <path
      d="M59.21,31.599c-0.321,0.642 -0.864,1.013 -1.605,1.013c-1.358,-0 -1.901,-1.186 -1.901,-2.395c0,-1.26 0.568,-2.395 1.975,-2.395c0.716,-0 1.26,0.345 1.531,0.987c0.074,0.173 0.124,0.371 0.124,0.568c-0,0.173 -0.099,0.247 -0.247,0.272l-2.692,0.395c0.05,0.79 0.395,1.802 1.358,1.802c0.593,0 0.963,-0.37 1.26,-0.864c0.049,-0.099 0.074,-0.197 0.222,-0.197c0.123,-0 0.173,0.098 0.173,0.222c-0.05,0.197 -0.148,0.469 -0.198,0.592Zm-0.741,-2.271c-0.049,-0.494 -0.395,-0.988 -0.938,-0.988c-0.765,0 -1.086,0.642 -1.16,1.333l2.098,-0.345Z"
    ></path>
    <path
      d="M63.04,31.624c0,0.173 -0.024,0.395 -0.123,0.543c-0.272,0.371 -1.087,0.445 -1.506,0.445c-0.79,-0 -1.531,-0.297 -1.531,-1.21c-0,-1.161 1.531,-1.457 2.395,-1.729l-0,-0.444c-0,-0.469 -0.074,-0.938 -0.667,-0.938c-0.37,-0 -0.617,0.222 -0.741,0.568c-0.024,0.024 -0.024,0.074 -0.049,0.123c-0.074,0.173 -0.173,0.272 -0.346,0.272c-0.222,-0 -0.345,-0.173 -0.345,-0.371c-0,-0.741 1.012,-1.037 1.605,-1.037c0.963,0 1.308,0.494 1.308,1.408l0,2.37Zm-0.765,-1.506c-0.593,0.173 -1.605,0.395 -1.605,1.185c-0,0.543 0.37,0.839 0.889,0.839c0.444,0 0.716,-0.148 0.716,-0.641l-0,-1.383Z"
    ></path>
    <path
      d="M65.307,32.612c-0.494,-0 -0.889,-0.124 -1.235,-0.47c-0.148,-0.148 -0.272,-0.345 -0.272,-0.543c0,-0.222 0.173,-0.395 0.371,-0.395c0.444,0 0.395,0.889 1.209,0.889c0.396,0 0.692,-0.247 0.692,-0.667c-0,-1.135 -2.173,-0.864 -2.173,-2.37c0,-0.79 0.642,-1.234 1.383,-1.234c0.444,-0 0.938,0.123 1.21,0.493c0.098,0.124 0.173,0.247 0.173,0.396c-0,0.197 -0.149,0.345 -0.346,0.345c-0.469,0 -0.346,-0.765 -1.037,-0.765c-0.371,-0 -0.667,0.247 -0.667,0.642c0,1.086 2.198,0.79 2.198,2.37c-0,0.864 -0.667,1.309 -1.506,1.309Z"
    ></path>
    <path
      d="M14.521,20.315l-0,1.827l-11.334,0l7.926,-9.827l-6.617,-0l0,-1.803l10.346,0l-7.877,9.803l7.556,-0Z"
    ></path>
    <path
      d="M18.398,17.007c-0,1.95 0.222,3.629 2.617,3.629c2.395,0 2.617,-1.679 2.617,-3.629l0,-6.494l1.976,-0l-0,6.716c-0,3.086 -1.161,5.259 -4.618,5.259c-3.432,0 -4.617,-2.148 -4.617,-5.259l0,-6.716l1.975,-0l0,6.494l0.05,-0Z"
    ></path>
    <path
      d="M20.275,4.291c-0,0.74 -0.593,1.333 -1.334,1.333c-0.741,-0 -1.333,-0.593 -1.333,-1.333c-0,-0.741 0.592,-1.334 1.333,-1.334c0.741,0 1.334,0.593 1.334,1.334Z"
    ></path>
    <path
      d="M24.473,4.291c-0,0.74 -0.593,1.333 -1.333,1.333c-0.741,-0 -1.334,-0.593 -1.334,-1.333c0,-0.741 0.593,-1.334 1.334,-1.334c0.74,0 1.333,0.593 1.333,1.334Z"
    ></path>
    <path
      d="M30.497,3.031l0,8.864l0.05,0.05c0.814,-1.111 1.876,-1.729 3.308,-1.729c3.21,0 3.951,2.321 3.951,5.062l-0,6.914l-1.975,-0l-0,-6.568c-0,-1.877 -0.149,-3.556 -2.445,-3.556c-2.716,0 -2.889,2.519 -2.889,4.617l0,5.531l-1.975,0l-0,-19.135l1.975,-0l0,-0.05Z"
    ></path><rect x="40.744" y="3.006" width="1.975" height="19.136"></rect>
    <path
      d="M47.978,14.834l4.247,-4.321l2.642,-0l-4.988,4.963l5.926,6.691l-2.617,-0l-5.21,-5.901l0,5.901l-1.975,-0l-0,-19.136l1.975,0l0,11.803Z"
    ></path>
    <path
      d="M65.011,18.439c-0.74,1.284 -1.777,2.197 -3.358,2.197c-2.197,0 -3.703,-1.728 -3.728,-3.876l8.963,-0c0.197,-3.457 -1.753,-6.568 -5.407,-6.568c-3.556,-0 -5.531,2.839 -5.531,6.296c-0,3.333 2.173,6 5.58,6c2.247,0 4,-1.136 5.111,-3.086l-1.63,-0.963Zm-3.53,-6.42c1.703,-0 3.086,1.358 3.358,3.037l-6.815,0c0.247,-1.679 1.802,-3.037 3.457,-3.037Z"
    ></path>
  </svg>
</a>
