---
import SponsorGrid from "./SponsorGrid.astro";
---

<section class="py-8">
  <h2 class="text-2xl font-semibold tracking-wide">Our Sponsors</h2>
  <p class="pb-8 pt-4">
    Thanks to our <a href="/sponsors">sponsors</a> and
    <a href="./patrons">patrons</a> all events are free of charge.
  </p>
  <div class="py-4">
    <SponsorGrid />
  </div>
</section>

<style>
  a {
    @apply relative text-amber-400 hover:decoration-dashed underline-offset-4 hover:underline hover:decoration-amber-600 focus-visible:p-1 dark:text-amber-600;
  }
</style>
