---
import { Image } from "astro:assets";
import mimacomLogo from "../assets/images/mimacom_2023_large.webp";
import puzzleLogo from "../assets/images/puzzle_tagline_bg_rgb.svg";
---

<p class="pb-2 pt-4">
  <div class="flex justify-center py-3 font-medium tracking-wide">Sponsors</div>
  <div class="flex justify-center gap-4">
    <a href="https://www.mimacom.ch">
      <Image src={mimacomLogo} alt="mimacom" width="400" />
    </a>
    <a href="https://www.puzzle.ch">
      <Image src={puzzleLogo} alt="puzzle" width="400" />
    </a>
  </div>
  <div class="mt-2 flex justify-center">
    <a href="donors"> & donors</a>
  </div>
</p>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
