---
import mimacomLogo from "../assets/mimacom_2023_large.webp";
import puzzleLogo from "../assets/puzzle_tagline_bg_rgb.svg";
---

<p class="pt-4 pb-2">
  <div class="flex justify-center py-3 font-medium tracking-wide">Sponsors</div>
  <div class="flex justify-center gap-4">
    <a href="https://www.mimacom.ch">

      <!-- <img src={mimacomLogo} alt="mimacom" width="100" /> -->
    </a>
    <a href="https://www.puzzle.ch">
      <!-- <img src={puzzleLogo} alt="puzzle" width="100" /> -->
    </a>
  </div>
  <div class="flex justify-center mt-2">
    <a href="donors"> & donors</a>
  </div>
</p>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
