---
import SponsorGrid from "./SponsorGrid.astro";
---

<section class="py-8">
  <h2 class="text-2xl font-semibold tracking-wide">Our Sponsors</h2>
  <p class="pt-4 pb-8">
    Thanks to our <a href="/sponsors">sponsors</a> and
    <a href="./patrons">patrons</a> all events are free of charge.
  </p>
  <div class="py-4">
    <SponsorGrid />
  </div>
</section>

<style>
  a {
    @apply relative underline decoration-dashed underline-offset-4 hover:text-skin-accent focus-visible:p-1;
  }
</style>
